{% set layout_modifiers = [] %}

{% set main_base_class = main_base_class|default('main') %}
{% set main_modifiers = [] %}

{% set main_content_base_class = main_content_base_class|default('main-content') %}
{% set main_content_modifiers = [] %}
  
{% set page_base_class = page_base_class|default('page') %}
{% set page_modifiers = [] %}


{% if top_sidebar or bottom_sidebar %}
  {% set page_modifiers = page_modifiers|merge(['with-sidebar']) %}
{% endif %}

{% if (full_width == false) and (centered == false) %}
  {% set page_modifiers = page_modifiers|merge(['container']) %}
{% endif %}

{% if centered == true %}
  {% set page_modifiers = page_modifiers|merge(['container-centered']) %}
{% endif %}

<div>
  <a class="element-focusable" href="#main-content">Jump to Page Content</a>
  {% block site_header %}
    {% include "@organisms/site/site-header/site-header.twig" %}
  {% endblock %}

  {% block page_system %}
  {% endblock %}

  <main role="main" {{ bem(main_base_class, (main_modifiers), main_blockname) }}>
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page_header %}
      <div class="page-header">
      {% block page_header %}{% endblock %}
      </div>
    {% endif %}
    
    <div {{ bem(page_base_class, (page_modifiers), page_blockname) }}>
      {% if top_sidebar %}
        <aside class="top-sidebar" role="complementary">
          {% block top_page_sidebar %}{% endblock %}
        </aside>
      {% endif %}

      <div {{ bem(main_content_base_class, (main_content_modifiers), main_content_blockname) }}>
        {% block page_content %}{% endblock %}
      </div>
      
      {% if bottom_sidebar %}
        <aside class="bottom-sidebar" role="complementary">
          {% block bottom_page_sidebar %}{% endblock %}
        </aside>
      {% endif %}
    </div>

  </main>

  {% block page_footer %}
    {% include "@organisms/site/site-footer/site-footer.twig" %}
  {% endblock %}
</div>
