<div class="filter">
  <div class="filter-grid-wrapper">
    <div class="filter__labels">
      <span>Filter</span>
      <a href="/">Clear Filters</a>
    </div>
    <div class="filter__filters">
      <div class="filter--top">
        <div>
          <label>Specialty</label>
          <select>
            <option default>Any</option>
          </select>
        </div>
        <div>
          <label>Gender</label>
          <select>
            <option default>Any</option>
          </select>
        </div>
        <div>
          <label>Languages</label>
          <select>
            <option default>Any</option>
          </select>
        </div>
        <div>
          <label>Zip Code</label>
          <input type="text" placeholder="00000" />
        </div>
        <div>
          <label>Distance</label>
          <select>
            <option class="placeholder" value="" disabled selected hidden>Any</option>
          </select>
        </div>
      </div>
      <div class="filter--bottom">
        <label>Provider Type</label>
        <div><input type="radio" value="all">All Providers</div>
        <div><input type="radio" value="physicians">Physicians Only</div>
        <div><input type="radio" value="advanced">Advanced Practice Providers Only</div>
      </div>
    </div>
  </div>
</div>
