<div class="listing-search">
  <div>
    <label>Search Providers</label>
    <input type="text" placeholder="Search by Name, Specialty, or Condition" />
  </div>
  <a href="/" class="button button-primary">Search Providers</a>
</div>
