
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}
  <script src="../../js/jquery.min.js"></script>
  <script src="../../js/drupal.js"></script>
  <script src="../../js/modernizr.js"></script>
  <script src="../../js/modernizr-custom.js"></script>
  <script src="../../js/drupal-attach-behaviors.js"></script>

  <!-- Add any global javascript that will not use attach_library here -->
  <script src="../../../../dist/00-base/global/animations/animation.js"></script>
  <script src="../../../../dist/03-organisms/site/site-header/site-header.js"></script>
  <script src="../../js/svgxuse.min.js"></script>
  <script src="../../../../dist/02-molecules/menus/main-menu/main-menu.js"></script>
  <script src="../../../../dist/02-molecules/autocomplete-dropdown/autocomplete.js"></script>
  <script src="../../../../dist/02-molecules/toggle-tip/toggle-tip.js"></script>
  <script src="../../../../dist/01-atoms/05-forms/chosen/chosen.jquery.js"></script>
  <script src="../../../../dist/01-atoms/05-forms/chosen/chosen-select.js"></script>

  </body>
</html>
