.form-item--checkboxes,
.form-item--checkbox__item {
  @include list-reset;

  input {
    margin: .25rem rhythm(.5) .5rem .25rem;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: 1;

    &::before {
      position: absolute;
      top: -0.25rem;
      left: -0.25rem;
      content: '';
      display: inline-block;
      height: 22px;
      width: 22px;
      background-color: $white;
      border: 1px solid rgba($gray-lighter, .7);
      border-radius: $rd-brd-sm;
      box-shadow: $inset-shadow;
    }

    &:checked::after {
      position: absolute;
      background: url('../pattern-lab/public/images/checkbox.svg');
      background-size: contain;
      background-position: center;
      top: 1px;
      left: 1px;
      content: '';
      display: inline-block;
      height: 12px;
      width: 12px;
    }

    &:active,
    &:hover,
    &:focus {
      &::before {
        border-color: $trust;
      }
    }
  }

  label {
    @include adjust-font-size-to($text);
    position: relative;
    color: $gray-dark;
    margin-bottom: rhythm(.35);
    padding-left: 35px;
    font-weight: 300;
  }
}

.form-item--checkbox__item {
  width: 40%;

  @include breakpoint($bp2) {
    width: 28%;
  }

  @include breakpoint($bp4) {
    width: auto;
  }
}
