.review {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $off-white;
  
  .ratings-count {
    margin-bottom: 1em;
  }
  
  @include breakpoint($bp3) {
    display: flex;
    flex-wrap: nowrap;
    
    .ratings-count {
      order: 2;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;
      margin-left: 3em;
      
      .ratings-count__stars {
        width: 100%;
      }
    }
  }
}

.review__date {
  @include adjust-font-size-to($label, .9);
  display: block;
  margin-top: .5em;
  font-style: italic;
}
