.review {
  margin-bottom: 2.5em;
  padding: .5em;

  .ratings-count {
    margin-bottom: .5em;

    .ratings-count__stars {
      order: 1;
      margin-left: 0;
    }

    &--ratingof {
      order: 2;
      margin-left: .5em;
    }
  }

  .read-less {
    display: none;
    visibility: hidden;
  }

  &.is-active {
    .read-less {
      color: blue;
      display: inline;
      visibility: visible;
    }

    .read-more {
      display: none;
      visibility: hidden;
    }

    .review__drawer.is-closed {
      max-height: none;
    }
  }

  @include breakpoint($bp3) {
    display: flex;
    flex-wrap: nowrap;

    .ratings-count {
      order: 2;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: flex-end;
      margin-left: 3em;

      .ratings-count__stars {
        width: 100%;
      }
    }
  }
}

.review__date {
  @include adjust-font-size-to($label, .75);
  display: block;
  margin-bottom: .3em;
  font-weight: 600;
}

.review__drawer {
  &.is-closed {
    max-height: 125px;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 25px;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f5f5f5);
    }
  }
}

.fade__review {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

a.review-more-link {
  @include adjust-font-size-to($label, .75);
}

.more-content span {
  display: none;
}

.review-expand {
  &-header {
    position: relative;
    width: 100%;
    display: block;
  }

  &-content-fade {
    height: 25px;
    width: 100%;
    position: absolute;
    top: -25px;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #f5f5f5);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f5f5f5);
  }
}

.review-summary {
  &__link {
    order: 2;

    @include breakpoint($bp4) {
      order: initial;
    }
  }
}
