<div class='review'>
  {% include "@molecules/ratings-count/ratings-count.twig" %}
  
  <div class="review__text">
    {{ review }}
    
    <span class="review__date">{{ date }}</span>
  </div>
</div>
