.card--sidebar {
  padding: 1.5em;
  border-color: $growth;
  
  .card__title {
    @include adjust-font-size-to($sm-heading, 1.15);
  }
}

.cssanimations {
  .card.card--sidebar.in-view {
    
    @include breakpoint($bp2) {
      animation: fadeInRight .5s ease .25s forwards;
    }
  }
}
