<div class="card card--sidebar js-section-animation">
  <a class="card__link" href="{{ cta.url }}">
    <h2 class="card__title">{{ title }}</h2>
    <div class="card__desc">
      {{ desc }}
    </div>
    <span class="card__cta">{{ cta.label }}</span>
  </a>
</div>
