.breadcrumbs {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 1.25em;
    height: 1px;
    border-bottom: 4px solid $growth;
    left: -2em;
    bottom: 45%;
    
    @include breakpoint($bp6) {
      width: calc(1.25em + (100vw - 1500px));
      left: calc(-1.9em - (100vw - 1500px));
    }
  }

  &.hero {
    @include grid;
    margin-top: 2em;
    
    &::before {
      left: 0;
      
      @include breakpoint($bp6) {
        width: calc(1em + ((100vw - 1500px) / 2 ));
        left: calc(((100vw - 1500px) / -2 ));
      }
    }
  }
}

.breadcrumb {
  @include list-reset;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $primary-dark;
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: $trust-aa;
  text-decoration: underline;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.85rem;
  position: relative;
  padding-right: .75em;
  margin-right: .75em;

  &::after {
    content: "";
    display: block;
    height: .6em;
    width: 1em;
    background: url('../pattern-lab/public/images/arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
    position: absolute;
    right: -0.5em;
    top: 30%;
  }

  &:last-child {
    color: $primary-dark;
    font-weight: 600;

    &::after {
      display: none;
      visibility: hidden;
    }
  }
}

.breadcrumb_link:active {
  color: $primary-dark;
  font-weight: 600;
}
