<div class="teaser--simple article js-section-animation">

  <h2 class="teaser__name--simple"><a href="{{ url }}">{{ article.details.title }}</a></h2>

  <div class="teaser__content--simple">
    <span class="article-date">{{ article.details.date }}</span>
    <div class="teaser__content__desc">{{ article.details.text }}</div>
      {% block tags %}
        {% if article.details.tags %}
          {% for item in article.details.tags %}
            {% include "@molecules/teaser-tag/teaser-tag.twig" with {
              "label": item
            } %}
          {% endfor %}
        {% endif %}
      {% endblock %}
  </div>
</div>
