.form-item {
  @extend %input;

  @include clearfix;
}

.form-item__label {
  @extend %label;
}

.form-item__textfield {
  border: 1px solid $gray-light;
  padding: 0.6em;
  max-width: 100%;

  &:focus {
    border-color: $black;
  }

  &::-webkit-input-placeholder {
    color: $gray-light;
  }

  &:-moz-placeholder {
    color: $gray-light;
  }

  &::-moz-placeholder {
    color: $gray-light;
  }

  &:-ms-input-placeholder {
    color: $gray-light;
  }
}

.form-item__description {
  margin-top: 0.3em;
}

.form-fieldset {
  border: none;
  margin-bottom: 2em;
  padding: 0;

  .form-item {
    margin-left: 1em;
    max-width: 31em;
  }
}
