<div class="listing-cta">
  <div class="listing-cta__title">{{ title }}</div>
  <p class="listing-cta__text">{{ text }}</p>
  <a href="{{ link.url }}" class="button button-primary">{{ link.text }}</a>
</div>
