.basic-header__content.listing {
  font-size: 1.5em;
  text-transform: uppercase;
  border-bottom: none;
  text-align: center;
  color: $primary-dark;
  margin-top: 0;
  padding-bottom: 0;

  h1 {
    margin-bottom: 0;
  }
}
