{% embed "@templates/_default.twig" with {
  page_header: TRUE,
  full_width: true
}%}

  {% block page_header %}
    <div class="header__wrapper js-section-animation">
      {% include "@organisms/basic-header/basic-header.twig" with {
        breadcrumb: header.breadcrumb,
        class: header.class,
      } %}
      {% include "@organisms/search/location-search/location-search.twig" %}
      {% include "@organisms/search/location-filter/location-filter.twig" %}
    </div>
  {% endblock %}

  {% block page_content %}
    {% include "@organisms/listings/location-list/location-list.twig" with {
        "providers": providers,
      } %}
    {% include "@molecules/pagination/pagination.twig" %}
    {% include "@organisms/listings/listing-cta/listing-cta.twig" with {
        "title": cta.title,
        "text": cta.text,
        "link": cta.link,
      } %}
  {% endblock %}

{% endembed %}
