.button-row {
  background-color: $trust-ltst;
  margin: 3em 0;
  padding: 2em 0;
}

.button-row__content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  .icon-button {
    width: 100%;
    
    @include breakpoint($bp2) {
      width: 43%;
      margin-left: 1em;
      margin-right: 1em;
    }
    
    @include breakpoint($bp3) {
      flex: 0 1 32%;
      max-width: 500px;

      &:nth-child(1):nth-last-child(2),
      &:nth-child(2):nth-last-child(1) {
        flex: 0 1 43%;
      }
      
      &:nth-child(1):nth-last-child(3),
      &:nth-child(2):nth-last-child(2),
      &:nth-child(3):nth-last-child(1) {
        flex: 0 1 28%;
      }
      
      &:nth-child(1):nth-last-child(4),
      &:nth-child(2):nth-last-child(3),
      &:nth-child(3):nth-last-child(2),
      &:nth-child(4):nth-last-child(1) {
        flex: 0 1 43%;
      }
    }
  }
}
