// Utility Menu Styles
.utility {
  order: 2;

  @include breakpoint($bp3) {
    position: absolute;
    top: 0;
    right: 4.5em;
    order: 0;
  }
}

.utility-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include breakpoint($bp3) {
    display: block;
  }
}

.utility-menu__item {
  display: inline-block;

  @include breakpoint(0 899px) {
    order: 2;
  }
}

.utility-menu__link {
  @include adjust-font-size-to($label, .9);
  display: inline-block;
  padding: 1em .5em;
  margin-right: 1em;
  font-weight: 600;

  &:link,
  &:visited {
    color: $primary-dark;
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: $trust-aa;
    text-decoration: underline;
  }
}

.utility-menu__link--mytower {
  color: transparent;
  background: url('../pattern-lab/public/images/mytowerhealth-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:link,
  &:visited {
    color: transparent;
  }

  &:active,
  &:hover,
  &:focus {
    transform: scale(1.05);
  }
}

.utility-menu__link--cta {
  @extend %track-out;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background-color: $primary-dark;
  padding: 1em 1em .75em;

  &:link,
  &:visited {
    color: $white;
  }

  &:active,
  &:hover,
  &:focus {
    background-color: $trust-aa;
    color: $white;
    text-decoration: none;
  }

  @include breakpoint(0 899px) {
    display: block;
    text-align: center;
    width: 100%;
  }

  @include breakpoint($bp3) {
    border-radius: 0 0 8px 8px;
  }
}

a {
  @include breakpoint(0 899px) {
    order: 1;
    width: 100%;
  }
}
