<div class="utility" id="utility">
  {% block utility_nav %}
    {% include "@molecules/menus/_menu.twig" with {
      menu_class: "utility-menu",
      items: utility_items
    } %}
  {% endblock %}
</div>
