.link-list {
  padding: 2em 0;
  position: relative;
  margin-top: 1em;
  margin-bottom: 3em;
  border-top: 6px solid $growth;

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 6px solid $growth;
    left: -2em;
    width: 2em;
    top: -6px;

    @include breakpoint($bp6) {
      left: calc(-1 * (((100vw - 1500px) / 2) + 2em));
      width: calc(((100vw - 1500px) / 2) + 2em);
    }
  }
  
  &.link-list--secondary {
    padding: 1em 0;
  }
}

.link-list__title {
  color: $primary-dark;
  margin-top: .5em;
  margin-bottom: 1em;
  
  .link-list--secondary & {
    @include adjust-font-size-to($sm-heading, 1);
    @extend %track-out;
    text-transform: uppercase;
  }
}

.link-list__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  
  @include breakpoint($bp2) {
    column-count: 2;
    column-gap: 1em;
  }
}

.link-list__link {
  font-weight: 600;
  width: 100%;
  break-inside: avoid;

  a {
    display: inline-block;
    color: $trust-aa;
    text-decoration: none;
    padding: .35em 0;

    &:hover,
    &:focus {
      color: $primary-dark;
      text-decoration: underline;
    }
  }
  
  @include breakpoint($bp3) {
    a {
      padding: .25em 0;
    }
  }
  
  @include breakpoint($bp4) {
    @include adjust-font-size-to($xs-heading, 1.1);
  }
}

.cssanimations {

  // default states
  .link-list__title,
  .link-list__link {
    opacity: 0;
  }

  // animating in
  .in-view {
    .link-list__title,
    .link-list__link {
      opacity: 1;
      animation: fadeInLeft .35s ease-in-out forwards;
    }
  }
}
