.link-list {
  padding: 2em;
  position: relative;
  width: 66%;

  @include breakpoint($bp4) {
    padding-left: 6em;
  }

  @include breakpoint($bp5) {
    padding-left: 10em;
  }

  h2 {
    color: $primary-dark;
    text-transform: uppercase;
    font-size: 2em;
    margin-bottom: 1em;
  }

  .link-list__wrapper {
    display: flex;
    flex-wrap: wrap;

    .link-list__link {
      width: 100%;
      padding: .5em 0 0.5em 0;

      @include breakpoint($bp4) {
        width: 50%;
      }

      a {
        color: $trust-aa;
        font-size: 1.25em;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 6px solid $growth;
    border-radius: 3px;
    left: -2em;
    width: 50em;
    top: 0;
  }
}
