<div class="link-list {% if type %}link-list--{{type}} {% endif %}js-section-animation">
  <h2 class="link-list__title">{{ title }}</h2>
  <ul class="link-list__wrapper">
    {% for item in items %}
      <li class="link-list__link">
        <a href="{{ item.link }}">{{ item.text }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
