.section-toggle-expand {
  background-color: $primary-dark;
}

.section-menu__wrapper {
  background-color: $primary-dark;
  display: flex;
  align-items: center;
  margin-top: 5em;

  @include breakpoint($bp3) {
    display: block;
    margin-top: 0;
  }
}

.section-nav__container {
  position: relative;
  width: 100%;
  color: $trust;
  font-size: 1.25em;
  font-weight: 700;
  margin-left: 1em;

  @include breakpoint($bp3) {
    background-color: transparent;
    font-size: 1em;
    margin-top: 8em;
    margin-left: 0;
  }

  @include breakpoint($bp4) {
    margin-top: 6em;
  }

  &::after {
    content: 'Section Menu';
    width: 100%;

    @include breakpoint ($bp3) {
      content: ' ';
      background-color: $primary-dark;
      width: 200px;
      position: absolute;
      top: 50px;
      right: -2em;
      bottom: 50px;
      z-index: -5;
    }

    @include breakpoint("1350px") {
      width: calc(100% + ((100vw - 1350px) / 2) - 2em);
      right: calc(-1 * ((100vw - 1350px) / 2) - 2em);
    }
  }

  ul {
    display: none;
    list-style: none;
    padding: 1em 0;

    &.is-active {
      display: block;
    }

    @include breakpoint($bp3) {
      display: block;
    }

    .section-menu__link {
      display: block;
      padding: 0.5em;
      color: $primary-dark;
      text-decoration: none;

      &:hover {
        width: 100%;
      }
    }
  }

  .section-nav {
    background-color: $trust-ltst;
    border-radius: 5px;
    line-height: 1em;
    font-weight: 700;

    @include breakpoint($bp3) {
      font-size: 1.25em;
    }

    > .section-menu > .section-menu__item a:hover {
      border-left: 5px solid $trust-aa;
    }

    .section-menu__item a:hover {
      background-color: rgba($white, 0.5);
    }
  }

  .section-menu__item--with-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &.is-active {
      flex-wrap: wrap;
    }

    &:hover.a {
      background-color: rgba($white, 0.5);
    }

    a {
      max-width: calc(100% - 50px);
    }

    .expand-sub {
      width: 50px;
      height: 100%;
      position: relative !important;

      &::before {
        content: "+";
        color: $primary-dark;
        position: absolute;
        font-size: 1.5em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &.is-active::before {
        content: "-";
      }
    }
  }

  .section-menu--sub {
    background-color: rgba($white, 0.5);
    font-size: 0.75em;
    font-weight: 300;
    width: 100%;
    display: none;

    &.is-active {
      display: block;
    }

    li a {
      padding: 0.5em 1em;
    }
  }
}
