.section-toggle-expand {
  background-color: $primary-dark;
}

.section-nav__container {
  position: relative;
  padding-right: 6em;
  width: 100%;
  background-color: $primary-dark;
  color: $trust;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1em;

  @include breakpoint($bp3) {
    background-color: transparent;
    font-size: 1em;
  }

  &::after {
    content: 'Section Menu';
    width: 100%;

    @include breakpoint ($bp3) {
      content: ' ';
      background-color: $primary-dark;
      width: 200px;
      position: absolute;
      top: 10%;
      right: 0;
      bottom: 10%;
      z-index: -5;
    }
  }

  ul {
    display: none;
    list-style: none;
    padding: 1em 0;

    @include breakpoint($bp3) {
      display: block;
    }

    .section-menu__link {
      display: block;
      padding: 0.75em 1em;
      color: $primary-dark;
      text-decoration: none;
    }
  }

  .section-nav {
    background-color: $trust-ltst;
    border-radius: 5px;
    font-size: 1.25em;
    line-height: 1em;
    font-weight: 700;

    &:first-child li:hover {
      background-color: rgba($white, 0.5);
      border-left: 5px solid $trust-aa;
    }
  }

  .section-menu__item--with-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &.is-active {
      flex-wrap: wrap;
    }

    .expand-sub {
      width: 50px;
      height: 100%;
      position: relative !important;

      &::after {
        content: "+";
        color: $primary-dark;
        position: absolute;
        font-size: 1.5em;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      &.is-active::after {
        content: "-";
      }
    }
  }

  .section-menu--sub {
    background-color: rgba($white, 0.5);
    font-size: 0.75em;
    font-weight: 300;
    width: 100%;
    display: none;

    &.is-active {
      display: block;
    }

    li {
      padding: 0.25em 1.5em;
    }
  }
}
