<div class="teaser-list">
  {% for provider in providers %}
    {% include "@organisms/teasers/provider-teaser/provider-teaser.twig" with {
        "provider": provider,
      } %}
  {% endfor %}
</div>
