<div class="cta-block">
  <div class="cta-block__main">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 2,
        "heading": cta.title,
      } %}
    {% include "@atoms/02-text/text/01-paragraph.twig" with {
        "paragraph_content": cta.text,
      } %}
  </div>
  <div class="cta-block__buttons">
    {% for button in cta.buttons %}
      {% include "@molecules/cta-button/cta-button.twig" with {
          "cta": button,
        } %}
    {% endfor %}
  </div>
</div>
