.menu-wrapper {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($bp3) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .menu--inner {
    display: flex;
    width: 100%;

    @include breakpoint($bp3) {
      width: 50%;
    }

    @include breakpoint($bp4) {
      width: 33%;
    }
  }
}
