<div class="listing-cta js-section-animation">
  <div class="listing-cta__title">{{ title }}</div>
  <p class="listing-cta__text">{{ text }}</p>
  {% include "@atoms/icon-button/icon-button.twig" with {
    "url": link.url,
    "icon": link.icon,
    "text": link.text,
    "class": link.class,
  } %}
</div>
