<div class="listing-hero">
  <div class="listing-hero__image">
    {% if image %}
      <img src="{{ image.src }}" alt="{{ image.alt }}" />
    {% else %}
      <!-- Fallback gradient -->
    {% endif %}
  </div>
  <div class="listing-hero__title">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 1,
        "heading": title,
        "heading_url": card_title_link|default(card_link_url),
        "heading_blockname": card_title_blockname|default(card_base_class),
        "heading_modifiers": card_title_modifiers,
        "heading_link_base_class": card_title_link_base_class|default('title-link'),
        "heading_link_blockname": card_base_class,
        "heading_base_class": card_title_base_class|default('title'),
      } %}
  </div>
  <div class="listing-hero__search">
    <label>Provider Search</label>
    <input placeholder="Search by name, condition, or specialty" />
    <button class="button button--secondary" />Search</button>
  </div>
</div>
