<section class="recognition grid">
  <div class="recognition__items">
    {% block items %}
      {% for item in recognitionItems %}
        {% include "@molecules/recognition-card/recognition-card.twig" with {
          image: item.image,
          title: item.title,
          desc: item.desc
        } %}
      {% endfor %}
    {% endblock %}
  </div>
</section>
