<div class="card card--article js-section-animation">
  <a class="card__link" href="{{ url }}">
    <div class='card__content'>
      {% if date %}
      <span class="card__meta">{{ date }}</span>
      {% endif %}
      <h2 class="card__title">{{ title }}</h2>
      <div class="card__desc">
        {{ desc }}
      </div>
      <span class="card__cta">Read the Story</span>
    </div>
  </a>
</div>
