.form-section {
  margin: 4em 0 6em;
  
  @include breakpoint($bp2) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.form-section__title {
  width: 100%;
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid $gray-lighter;
}

.form-section__item {
  margin-bottom: 2em;
  width: 100%;
  
  input,
  select {
    margin-bottom: 0;
  }
  
  &--half {
    
    @include breakpoint($bp3) {
      width: 48%;
    }
  }
  
  &--oneQuarter {
    
    @include breakpoint($bp3) {
      width: 23%;
    }
  }
  
  &--threeQuarter {
    
    @include breakpoint($bp3) {
      width: 73%;
    }
  }
  
  &--oneThird {
    
    @include breakpoint($bp3) {
      width: 31%;
    }
  }
  
  &--twoThird {
    @include breakpoint($bp3) {
      width: 64%;
    }
    
  }
  
  &--oneFifth {
    @include breakpoint($bp3) {
      width: 18%;
    }
  }
  
  &--twoFifth {
    @include breakpoint($bp3) {
      width: 38%;
    }
  }
  
  &--threeFifth {
    @include breakpoint($bp3) {
      width: 58%;
    }
  }
  
  &--fourFifth {
    @include breakpoint($bp3) {
      width: 78%;
    }
  }
  
  .form-item--inline {
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    
    li {
      margin-right: 1.5em;
    }
  }
  
  label {
    display: inline-block;
    margin-right: 1em;
  }
}

.form-section__optional {
  @include adjust-font-size-to($label, .9);
  font-style: italic;
  color: $gray;
}
