{{ attach_library('tower_health/autocomplete') }}
{% block form_section %}
  <div class="form-section">
    {% if section_heading %}
      {% include "@atoms/02-text/00-headings/_heading.twig"  with {
        heading_level: section_heading_level,
        heading: section_heading,
        heading_url: section_heading_url,
        heading_base_class: 'form-section__title'
      }%}
    {% endif %}
    {% for item in section_items %}
      {% include "@molecules/form-section-item/_form-section-item.twig" %}
    {% endfor %}
  </div>
{% endblock %}
