.card__title {
  @extend %h2;
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subtitle {
  @extend %h3;
  @include no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

// Variations
.card--bg {
  background-color: $gray-lightest;
  padding: 1em;
}
// Variations
.card--bg {
  background-color: pink;
  padding: 1em;
}
.dog-frog-bog-hog h2 h4 {
  color: red;
  padding: 0px;
  @include link;
  size: 14px;
  margin: 0;
}

.card--hello {
  margin: 0;
}
