//
// General Layout
//

$sidebar-width: 33%;
$gutter: 2em;
$main-width: calc(100% - (#{$sidebar-width} + #{$gutter}));

//
// Layout Using Flexbox (IE11+).
// Remove this and uncomment Grid code below to use CSS Grid.
//

// .main {
//   @include bp3 {
//     display: flex;
//   }
// }

// .top-sidebar,
// .bottom-sidebar {
//   margin-bottom: rhythm(2);

//   @include bp3 {
//     order: 2;
//     width: $sidebar-width;
//     margin-bottom: 0;
//   }
// }

// .main-content {
//   width: 100%;

//   @include bp3 {
//     &--with-sidebar {
//       margin-right: $gutter;
//       width: $main-width;
//     }
//   }
// }

//
// Layout Using CSS Grid (NO IE11 support)
// Remove Flexbox code above and uncomment this section to use CSS Grid.
//

.page {

  &--container {
    @extend %grid-container;

    .no-cssgrid & {
      @extend %clearfix;
    }

    @include bp3 {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: 6fr 0 30%;
      grid-auto-rows: auto 1fr;

      .no-cssgrid & {
        display: block;
      }
    }

    @include bp4 {
      grid-template-columns: 6fr 40px 25%;
      grid-auto-rows: auto 1fr;
    }

    .top-sidebar {
      @include breakpoint($bp3) {
        grid-column: 3 / span 1;
        grid-row: 1 / span 1;

        .no-cssgrid & {
          width: 33%;
          padding-left: $gutter;
          float: right;
          clear: right;
        }
      }

      @include breakpoint($bp4) {

        .no-cssgrid & {
          width: 25%;
          float: right;
          clear: right;
        }
      }
    }

    .bottom-sidebar {
      @include breakpoint($bp3) {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;

        .no-cssgrid & {
          width: 33%;
          padding-left: $gutter;
          float: right;
          clear: right;
        }
      }

      @include breakpoint($bp4) {

        .no-cssgrid & {
          width: 25%;
          float: right;
          clear: right;
        }
      }
    }

    .main-content {
      @include breakpoint($bp3) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;

        .no-cssgrid & {
          width: 66%;
          float: left;
        }
      }

      @include breakpoint($bp4) {

        .no-cssgrid & {
          width: 75%;
          float: left;
        }
      }
    }

    .full-content {
      @include breakpoint($bp3) {
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;

        .no-cssgrid & {
          width: 100%;
          float: left;
        }
      }

      @include breakpoint($bp4) {

        .no-cssgrid & {
          width: 100%;
          float: left;
        }
      }
    }
  }
  
  &--container-centered {
    @extend %grid-container; 
    
    .no-cssgrid & {
      @extend %clearfix;
    }
    
    @include bp3 {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: minmax(0, 1fr);
      grid-auto-rows: auto 1fr;
      
      .no-cssgrid & {
        display: block;
      } 
    }

    .main-content {
      @include breakpoint($bp3) {
        grid-column: 1 / span 1; 
        grid-row: 1 / span 2;
        
        .no-cssgrid & {
          width: 100%;
          margin: 0 auto;
        }
      }
      
      @include breakpoint($bp4) {
        margin: 0 6%;
        
        .no-cssgrid & {
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
}

.sidebar--growth {
  background-color: $growth-ltst;
  padding: 1.5em 1.5em;
  margin-bottom: 0;
  position: relative;
  border-radius: 8px;
  
  @include breakpoint($bp3) {
    border-radius: 8px 0 0 8px;
  }
  
  &::after {
    
    @include breakpoint($bp3) {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -2em;
      width: 2em;
      background-color: $growth-ltst;
    }
    
    @include breakpoint($bp6) {
      width: calc(1.5em + ((100vw - 1500px) / 2));
      right: calc(-1.5em - ((100vw - 1500px) / 2));
    }
  }
}
