@mixin link {
  color: $trust-aa;

  &:active,
  &:hover,
  &:focus {
    color: $primary-dark;
    text-decoration: underline;
  }
}

.link {
  @include link;
}

.link--small {
  @include adjust-font-size-to($crumb, .7);
  font-style: italic;
}
