.cta-banner-list {
  @include grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include breakpoint($bp3) {
    flex-wrap: nowrap;
  }
}

.cta-banner-list__content {
  border-top: 6px solid $growth;
  padding: 2em 0;
  width: 100%;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 6px solid $growth;
    left: -2em;
    width: 2em;
    top: -6px;
    
    @include breakpoint($bp5) {
      width: calc( 2em + (100vw - 1600px) );
      left: calc( -2em - (100vw - 1600px) );
    }
  }

  @include breakpoint($bp3) {
    padding: 5em 0;
    width: 60%;
    max-width: 55%;
  }
}

.cta-banner-list__title {
  @include adjust-font-size-to($text, .6);
  text-transform: uppercase;
  font-weight: 600;
  color: $primary-dark;
  word-wrap: break-word;
  margin: 0;
  
  span {
    display: block;
  }

  &.third {
    color: $trust-aa;
  }
  @include breakpoint($bp1) {
    @include adjust-font-size-to($sm-heading, .9);
  }
  
  @include breakpoint($bp2) {
    @include adjust-font-size-to($md-heading, 1);
  }
  
  @include breakpoint($bp4) {
    @include adjust-font-size-to($xl-heading, 1.25);
  }
}

.cta-banner-list__subtitle {
  
  @include breakpoint(0 $bp2) {
    @include adjust-font-size-to($sm-heading, .9);
  }
}

.cta-banner-list__background {
  width: 100%;
  position: absolute;
  opacity: 40%;
  z-index: -10;
  top: -20%;
  left: -20%;
  
  @include breakpoint($bp2) {
    width: 60%;
    left: 10%;
  }

  @include breakpoint($bp3) {
    width: 100%;
    top: -20%;
    left: 0;
  }

  @include breakpoint($bp4) {
    top: -40%;
    left: 20%;
  }
}

.cta-banner-list__buttons {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  
  @include breakpoint($bp2 $bp3) {
    flex-direction: row;
    flex-wrap: wrap;
    
    .icon-button {
      width: 43%;
    }
  }

  @include breakpoint($bp3) {
    width: 33%;
    margin-left: auto;
  }

  &::after {
    content: " ";
    background-color: $primary-dark;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50%;
    right: -2em;
    z-index: -5;

    @include breakpoint($bp2) {
      left: 60%;
    }
    
    @include breakpoint($bp3) {
      left: 30%;
    }
    
    @include breakpoint($bp5) {
      right: calc(  ( (100vw - 1600px) / -2 ) - 30px );
    }
  }
}

