<section class="cta-banner-list js-section-animation">
  <div class="cta-banner-list__content">
    <h1 class="cta-banner-list__title">
      {% if title_1 %}
        <span class="first">{{ title_1 }}</span>
      {% endif %}
      {% if title_2 %}
        <span class="second">{{ title_2 }}</span>
      {% endif %}
        <span class="third">{{ title_3 }}</span>
    </h1>
    {% if subtitle %}
      <h2 class="cta-banner-list__subtitle">{{ subtitle }}</h2>
    {% endif %}
  </div>
  <img class="cta-banner-list__background" src="../../images/th-mark.svg" />
  <div class="cta-banner-list__buttons">
    {% for link in links %}
      {% include "@atoms/icon-button/icon-button.twig" with {
        "url": link.url,
        "icon": link.icon,
        "text": link.text, 
      } %}
    {% endfor %}
  </div>
</section>
