.homepage-hero {
  position: relative;
  padding-top: 100px;

  @include breakpoint($bp3) {
    padding-top: 0;
  }

  .homepage-hero__outline {
    display: none;
    border: 6px solid $trust-ltr;
    border-radius: 10px;
    width: 55%;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: 2%;
    bottom: 0;
    z-index: -5;

    @include breakpoint($bp3) {
      display: block;
      border-width: 8px;
      width: 85%;
      top: 0;
      left: 7.5%;
    }
  }

  .homepage-hero__content {
    background-color: $white;
    border: 4px solid $trust-ltr;
    border-left: none;
    border-radius: 5px;
    width: 90%;
    padding: 2em;
    margin-top: 55%;

    @include breakpoint($bp2) {
      border: 4px solid $trust-ltr;
      margin-top: 45%;
      width: 75%;
      border-width: 6px;
    }

    @include breakpoint($bp3) {
      border: none;
      background-color: transparent;
      width: 90%;
      margin: 0 auto;
      margin-top: 10%;
      padding: 5em 0;
      padding-right: 40%;
    }

    @include breakpoint("1000px") {
      padding-right: 45%;
    }

    @include breakpoint("1150px") {
      padding-right: 50%;
    }

    @include breakpoint("1250px") {
      padding-right: 52%;
    }

    @include breakpoint("1500px") {
      padding-right: 50%;
    }

    h1 {
      margin: 0;

      span {
        color: $primary-dark;
        display: block;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 1em;
        font-weight: 500;

        @include breakpoint("425px") {
          font-size: 1.25em;
        }

        @include breakpoint("500px") {
          font-size: 1.5em;
        }

        @include breakpoint($bp2) {
          font-size: 1.25em;
        }

        @include breakpoint("675px") {
          font-size: 1.5em;
        }

        @include breakpoint("775px") {
          font-size: 1.75em;
        }

        @include breakpoint($bp3) {
          font-size: 1.25em;
        }

        @include breakpoint("1300px") {
          font-size: 1.5em;
        }

        @include breakpoint($bp5) {
          font-size: 1.75em;
        }
      }

      .title--first {
        font-weight: 300;
      }

      .title--last {
        color: $trust-aa;
        font-weight: 600;
      }
    }

    .subtitle {
      color: $primary-dark;
      font-weight: 600;
      margin-top: 0.5em;
      margin-bottom: 1em;
      font-size: 1.25em;
      letter-spacing: 0.05em;

      @include breakpoint("1300px") {
        font-size: 1.5em;
      }

      @include breakpoint($bp5) {
        font-size: 1.75em;
      }
    }

    .homepage-hero__content__form {
      @include breakpoint($bp3) {
        margin-left: 4.5em;
      }
    }
  }

  .homepage-hero__image {
    max-width: 500px;
    position: absolute;
    top: -1%;
    right: -20%;
    z-index: -10;

    @include breakpoint("500px") {
      max-width: 550px;
    }

    @include breakpoint($bp2) {
      max-width: 600px;
    }

    @include breakpoint("700px") {
      max-width: 700px;
    }

    @include breakpoint("700px") {
      max-width: 800px;
    }

    @include breakpoint($bp3) {
      z-index: auto;
      top: -10%;
      right: -10%;
      max-width: 500px;
    }

    @include breakpoint("1000px") {
      max-width: 600px;
    }

    @include breakpoint("1150px") {
      max-width: 700px;
    }

    @include breakpoint("1250px") {
      max-width: 800px;
    }

    @include breakpoint("1400px") {
      max-width: 900px;
    }

    @include breakpoint($bp5) {
      max-width: 950px;
    }

    .homepage-hero__image__background {
      position: absolute;
      border-radius: 50%;
      background-color: $growth;
      z-index: -5;
      margin-left: -20px;
      margin-top: -10px;
      height: 100%;
      width: 100%;
    }

    img {
      border-radius: 50%;
      float: right;
    }
  }
}
