.homepage-hero {
  @extend %clearfix;
  position: relative;
  padding-top: 100px;
  width: 100%;
  max-width: 1500px;
  z-index: 2;

  @include breakpoint($bp2) {
    padding: 70px 0 0;
  }

  @include breakpoint($bp3) {
    padding: 0;
    margin: 3em auto 3em;
  }
  
  @include breakpoint(1050px) {
    margin-bottom: 4em;
  }
}

.homepage-hero__container {
  max-width: 1500px;
  width: 100%;
  
  @include breakpoint($bp2) {
    padding: 0 2em;
  }
}

.homepage-hero__content {
  background-color: $white;
  border-top: 4px solid $trust-ltr;
  border-right: 4px solid $trust-ltr;
  border-bottom: 4px solid $trust-ltr;
  border-radius: 0 $rd-brd-sm $rd-brd-sm 0;
  width: 96%;
  padding: 2em 1em 2em 2em;
  margin-top: 15%;
  box-shadow: $shadow;
  position: relative;
  z-index: 1;

  @include breakpoint($bp0) {
    width: 95%;
    margin-top: 25%;
  }

  @include breakpoint($bp2) {
    border: 4px solid $trust-ltr;
    border-radius: $rd-brd-sm;
    width: 75%;
    padding: 2em;
  }

  @include breakpoint($bp3) {
    width: 80%;
    margin-top: 0;
    padding-right: 28%;
    box-shadow: none;
    position: static;
    border-radius: $rd-brd-lg;
  }

  @include breakpoint($bp4) {
    width: 80%;
    padding: 2.25em 34% 2.25em 2em;
  }
  
  @include breakpoint($bp6) {
    width: 80%;
    padding: 2.25em 32% 2.25em 2em;
  }

  h1 {
    @extend %track-in;
    @include adjust-font-size-to($xl-heading, 1.45);
    margin: 0;
    
    @include breakpoint($bp0) {
      @include adjust-font-size-to($xxl-heading, 1.5);
    }
    
    @include breakpoint($bp3) {
      @include adjust-font-size-to($xxxl-heading, 1.75);
    }
    
    @include breakpoint($bp5) {
      @include adjust-font-size-to($hero-heading, 1.95);
    }
    
    @include breakpoint($bp6) {
      @include adjust-font-size-to($lg-hero-heading, 2);
    }

    span {
      color: $primary-dark;
      display: block;
      text-transform: uppercase;
      font-weight: 500;
      word-wrap: break-word;
    }

    .title--first {
      font-weight: 300;
    }

    .title--last {
      color: $trust-aa;
      font-weight: 600;
    }
  }

  .hero_subtitle {
    @extend %track-in;
    @include adjust-font-size-to($sm-heading, .9);
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: 500;

    @include breakpoint($bp4) {
      @include adjust-font-size-to($md-heading, 1.2);
    }
  }

  .homepage-hero__content__form {
    position: relative;
    z-index: 4;
    
    button {
      @include adjust-font-size-to($label, .8);
      padding: 1em 1.5em;
    }

    @include breakpoint($bp3) {
      input[type="text"] {
        height: 60px;
      }
    }
  }
}

.homepage-hero__image {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  overflow: hidden;

  .image-background {
    position: relative;
    width: 90%;
    right: -30%;
  }

  @include breakpoint($bp2) {
    width: 80%;
  }

  @include breakpoint($bp3) {
    z-index: auto;
    right: 0;
    left: 53%;
    top: -1.5em;
    width: auto;

    .image-background {
      position: relative;
      width: 150%;
      max-width: 625px;
      left: 0;
      right: auto;
    }
  }

  @include breakpoint($bp6) {
    right: calc(( 100vw - 1500px ) / 2 * -1);
    top: -2em;
    left: 55%;
    
    .image-background {
      max-width: 650px;
    }
  }
}

// Animations
.cssanimations {
  
  // default states
  .homepage-hero__content {
    opacity: 0;

    &::before {
      opacity: 0;
    }
    
    @include breakpoint($bp3) {
      h1,
      h2,
      form {
        opacity: 0;
      }
    }
  }
 
  .homepage-hero__image {
    opacity: 0;
    
    .image-background.top-left .image::before {
      margin: 0;
    }
  }
  
  // animating in
  .in-view {
    .homepage-hero__content {
      @include transition(all, .35s, ease-in);
      opacity: 1;
      
      @include breakpoint(0 899px) {
        animation: fadeInLeft .65s ease-in-out forwards;
      }
      
      @include breakpoint($bp3) {
        h1 {
          animation: fadeInUp .25s ease-in-out  .25s forwards;
        }
        
        h2 {
          animation: fadeInUp .25s ease-in-out  .25s forwards;
        }
        
        form {
          animation: fadeInUp .25s ease-in-out  .35s forwards;
        }
      }
    }
    
    .homepage-hero__image {
      animation: fadeInRightScale .65s ease-in-out forwards;
      
      .image-background.top-left .image::before {
        transition: all .35s ease .25s;
        margin-left: -20px;
        margin-top: -10px;
      }
    }
  }
}
