<div class="homepage-hero js-section-animation">
  <div class="homepage-hero__container">
    <div class="homepage-hero__content">
      <h1>
        {% if title__first %}
            <span class="homepage-hero__title homepage-hero__title--first">{{ title__first }}</span>
        {% endif %}
        {% if title__middle %}
          <span class="homepage-hero__title homepage-hero__title--middle">{{ title__middle }}</span>
        {% endif %}
        <span class="homepage-hero__title homepage-hero__title--last">{{ title__last }}</span>
      </h1>
      {% if subtitle %}
      {% include "@atoms/02-text/00-headings/_heading.twig" with {
        "heading_level": 2,
        "heading": subtitle,
        "heading_base_class": "homepage-hero__subtitle",
      } %}
      {% endif %}
      <div class="homepage-hero__content__form">
        {% block form %}
          <form>
            {% include "@molecules/autocomplete-dropdown/autocomplete.twig" %}
            <button class="button button--primary" type="submit">Search Providers</button>
          </form>
        {% endblock %}
      </div>
    </div>
    <div class="homepage-hero__image">
      {% block image_background %}
        {% include "@molecules/image-background/image-background.twig" with {
          "img.src": img.src,
          "img.src": img.alt,
          "classes": classes,
        } %}
      {% endblock %}
    </div>
  </div>
</div>
