<div class="text-teaser">
  <div class="text-teaser__text">
    <span class="text-teaser__title">{{ title }}</span>
    <p>{{ text }}</p>
  </div>
  <div class="text-teaser__button">
    <a class="button button-primary" href="{{ button.url }}">{{ button.text }}</a>
  </div>
</div>
