<div class="text-teaser">
  <div class="text-teaser__content">
    <h2 class="text-teaser__title">{{ title }}</h2>
    <div class="text-teaser__text">
      {{ text }}
    </div>
  </div>
  <div class="text-teaser__button">
    <a class="button button-primary" href="{{ button.url }}">{{ button.text }}</a>
  </div>
</div>
