.banner-message {
  @include adjust-font-size-to($sm-text, .9);
  margin: .5em 0 1em;
  padding: 1em;
  text-align: center;
  background-color: rgba($ed, .5);
  border-radius: $rd-brd-lg;
  font-weight: 300;
  display: block;
  width: 100%;
  
  &--secondary {
    background-color: $off-white;
  }
}

