.listing-search {
  @include grid;
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 3em;

  > div {
    width: calc(100% - 225px - 2em);
  }

  label {
    font-weight: 600;
  }

  input {
    @extend %input;
    display: inline-block;
    height: 80px;
    margin-right: 1em;
    margin-bottom: 0;
    border: 2px solid $primary-dark;
    border-radius: 5px;
  }

  a {
    height: 80px;
    margin-left: 2em;
    display: flex;
    align-items: center;
  }
}
