.sidebar-list {
  margin: 1em 0;
}

.sidebar-list__title {
  @include adjust-font-size-to($label, .8);
  @extend %track-out;
  color: $growth-drk;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: .75em;
}

.sidebar-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-list__list-item {
  margin-bottom: .25em;
  
  a:link,
  a:visited {
    color: $primary-dark;
    text-decoration: none;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}
