.pager__item {
  background-color: $trust-ltst;
  padding: 0.5em 1em;
  margin: 0 0.15em;
  border-radius: 25px;

  a {
    text-decoration: none;
    font-weight: 600;
    color: $trust-aa;
    text-transform: uppercase;
  }

  &.is-active {
    background-color: $growth;

    a {
      color: $primary-dark;
    }
  }
}
