.provider-details {
  margin-bottom: 3em;
  padding-top: 1.5em;
  border-top: 4px solid $trust-aa;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 4px solid $trust-aa;
    left: -2em;
    width: 2em;
    top: -4px;
    
    @include breakpoint($bp6) {
      width: calc(1.5em + ((100vw - 1500px) / 2));
      left: calc(-1.5em - ((100vw - 1500px) / 2));
    }
  }
}

.provider-details--side {
  margin-bottom: 2em;
  padding-top: 0;
  border-top: none;
  
  &::after {
    content: none;
  }
}

.provider-detail__label {
  @include adjust-font-size-to($md-heading, 1.15);
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-right: .5em;
  
  .provider-details--side & {
    @include adjust-font-size-to($sm-text, 1.15);
    @extend %track-out;
    text-transform: uppercase;
  }
}

.provider-detail__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.provider-detail__item-label {
  font-weight: 600;
}

.provider-detail__item-title {
  @include adjust-font-size-to($xs-heading, 1);
  margin-bottom: 0;
}

.provider-detail__item-meta {
  @include adjust-font-size-to($label, .8);
  font-style: italic;
  display: block;
}
