<section class="card-group grid">
  {% for card in cards %}
    {% include "@molecules/video-card/video-card.twig" with {
      videoURL: card.videoURL,
      thumbnail: card.thumbnail,
      doctor: card.doctor,
      title: card.title,
      desc: card.desc,
      type: card.type
    } %}
  {% endfor %}
</section>
