.care-circle__banner {
  margin: 3em 0;
  padding: 2em 0;
  border-top: 1px solid $off-white;
  border-bottom: 1px solid $off-white;
  
  &.care-circle__banner--full {
    border: none;
    padding: 0;
    margin: 2em 0;
    
    @include breakpoint($bp3) {
      display: flex;
      align-items: center;
    }
  }
}

.care-circle {
  position: relative;
  display: block;
}

.care-circle__title {
  @include adjust-font-size-to($lg-heading, 1.35);
  text-align: center;
  margin: 0 0 1em;
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  
  @include breakpoint($bp2) {
    // 425
    @include adjust-font-size-to($md-heading, 1.1);
    max-width: 275px;
    margin: 0;
    
    z-index: 3;
  }
  
  @include breakpoint($bp3) {
    // 375
    max-width: 250px;
  }
  
  @include breakpoint($bp4) {
    // 575
    @include adjust-font-size-to($lg-heading, 1.35);
    max-width: 375px;
  }
}

.care-circle__content {
  
  @include breakpoint($bp2) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.care-circle__list {
  margin: 75px auto;
  border: solid 3px $off-white;
  list-style: none;
  padding: 0;
  
  .care-circle__banner--full & {
    @include breakpoint($bp3) {
      margin: 75px;
    }
    
    @include breakpoint($bp4) {
      margin: 95px;
    }
  }
  
  @include breakpoint(0 $bp2) {
    display: flex;
    justify-content: center;
    margin: 0;
    border-radius: 21px;
    flex-wrap: wrap;
    border: none;
  }
  
  @include breakpoint($bp4) {
    margin: 95px auto;
  }
  
  .care-circle--3 & {
    
    @include breakpoint($bp2) {
      @include on-circle($item-count: 3, $circle-size: 425px, $item-size: 150px, $arrowy: -67px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 3, $circle-size: 375px, $item-size: 150px, $arrowy: -58px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 3, $circle-size: 575px, $item-size: 175px, $arrowy: -99px);
    }
  }
  
  .care-circle--4 & {
    @include breakpoint($bp2) {
      @include on-circle($item-count: 4, $circle-size: 425px, $item-size: 150px, $arrowy: -23px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 4, $circle-size: 375px, $item-size: 150px, $arrowy: -21px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 4, $circle-size: 575px, $item-size: 175px, $arrowy: -32px);
    }
  }
  
  .care-circle--5 & {
    @include breakpoint($bp2) {
      @include on-circle($item-count: 5, $circle-size: 425px, $item-size: 150px, $arrowy: -23px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 5, $circle-size: 375px, $item-size: 150px, $arrowy: -21px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 5, $circle-size: 575px, $item-size: 175px, $arrowy: -32px);
    }
  }
  
  .care-circle--6 & {
    @include breakpoint($bp2) {
      @include on-circle($item-count: 6, $circle-size: 425px, $item-size: 150px, $arrowy: -23px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 6, $circle-size: 375px, $item-size: 150px, $arrowy: -21px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 6, $circle-size: 575px, $item-size: 175px, $arrowy: -32px);
    }
  }
  
  .care-circle--7 & {
    @include breakpoint($bp2) {
      @include on-circle($item-count: 7, $circle-size: 425px, $item-size: 150px, $arrowy: -23px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 7, $circle-size: 375px, $item-size: 130px, $arrowy: -21px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 7, $circle-size: 575px, $item-size: 175px, $arrowy: -32px);
    }
  }
  
  .care-circle--8 & {
    @include breakpoint($bp2) {
      @include on-circle($item-count: 8, $circle-size: 425px, $item-size: 140px, $arrowy: -23px);
    }
    
    @include breakpoint($bp3) {
      @include on-circle($item-count: 8, $circle-size: 400px, $item-size: 125px, $arrowy: -21px);
    }
    
    @include breakpoint($bp4) {
      @include on-circle($item-count: 8, $circle-size: 575px, $item-size: 175px, $arrowy: -32px);
    }
  }
}

.care-circle__item {
  a,
  a:link,
  a:visited {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: $primary-dark;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
    
    .care-circle__item__inner {
      transform: scale(1.05);
      box-shadow: $shadow;
      transition: all .5s ease;
    }
  }
  
  @include breakpoint(0 $bp2) {
    position: relative;
    height: 0;
    width: 40%;
    padding: 0 0 40%;
    margin: 1em 5%;
    
    
    &:nth-of-type(1) {
      &::after {
        position: absolute;
        top: 40%;
        top: calc(50% - 15px);
        right: -18%;
      }
    }
    
    // Mobile positioning if there are 3 align-items
    .care-circle--3 & {
      &:nth-of-type(2) {
        // bottom right
        &::after {
          position: absolute;
          bottom: -2em;
          left: 18%;
          transform: rotate(120deg);
        }
      }
      
      &:nth-of-type(3) {
        // bottom left
        &::after {
          position: absolute;
          top: -2em;
          left: 9%;
          transform: rotate(-120deg);
        }
      }
    }
    
    .care-circle--4 & {
      &:nth-of-type(2) {
        // down
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(3) {
        order: 4;
        // left
        &::after {
          position: absolute;
          top: 40%;
          top: calc(50% - 15px);
          left: -18%;
          transform: rotate(180deg);
        }
      }
      
      &:nth-of-type(4) {
        order: 3;
        // up
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
    }
    
    .care-circle--5 & {
      &:nth-of-type(2) {
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(3) {
        order: 4;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 18%;
          transform: rotate(120deg);
        }
      }
      
      &:nth-of-type(4) {
        order: 5;

        &::after {
          position: absolute;
          top: -2em;
          left: 9%;
          transform: rotate(-120deg);
        }
      }
      
      &:nth-of-type(5) {
        order: 3;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
    }
    
    .care-circle--6 & {
      &:nth-of-type(2) {
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(3) {
        order: 4;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(4) {
        order: 6;
        
        &::after {
          position: absolute;
          top: 40%;
          top: calc(50% - 15px);
          left: -18%;
          transform: rotate(180deg);
        }
      }
      
      &:nth-of-type(5) {
        order: 5;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
      
      &:nth-of-type(6) {
        order: 3;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
    }
    
    .care-circle--7 & {
      &:nth-of-type(2) {
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(3) {
        order: 4;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(4) {
        order: 6;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 18%;
          transform: rotate(120deg);
        }
      }
      
      &:nth-of-type(5) {
        order: 7;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 9%;
          transform: rotate(-120deg);
        }
      }
      
      &:nth-of-type(6) {
        order: 5;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
      
      &:nth-of-type(7) {
        order: 3;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
    }
    
    .care-circle--8 & {
      &:nth-of-type(2) {
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(3) {
        order: 4;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(4) {
        order: 6;
        
        &::after {
          position: absolute;
          bottom: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(90deg);
        }
      }
      
      &:nth-of-type(5) {
        order: 8;
        
        &::after {
          position: absolute;
          top: 40%;
          top: calc(50% - 15px);
          left: -18%;
          transform: rotate(180deg);
        }
      }
      
      &:nth-of-type(6) {
        order: 7;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
      
      &:nth-of-type(7) {
        order: 5;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
      
      &:nth-of-type(8) {
        order: 3;
        
        &::after {
          position: absolute;
          top: -2em;
          left: 45%;
          left: calc(50% - 15px);
          transform: rotate(270deg);
        }
      }
    }
  }
  
  &::after {
    content: '';
    display: block;
    height: 30px;
    width: 15px;
    background: url(../pattern-lab/public/images/border-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    
    @include breakpoint($bp2) {
      position: absolute;
      left: 50%; // fallback
      top: 50%; // fallback
      left: calc(50% - 7px);
      top: calc(50% - 15px);
    }
  }
}

.care-circle__item__inner {
  @include adjust-font-size-to($label, .6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: $trust-ltst;
  padding: .5em 1em 1em;
  text-align: center;
  color: $primary-dark;
  text-decoration: none;
  z-index: 3;
  transition: all .5s ease;
  
  @include breakpoint(0 $bp2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  @include breakpoint($bp3) {
    @include adjust-font-size-to($crumb, .5);
  }
  
  @include breakpoint($bp4) {
    @include adjust-font-size-to($label, .65);
  }
  
  .care-circle__item--healing & {
    background-color: $healing-ltst;
  }
  
  .care-circle__item--uplifting & {
    background-color: $uplifting-ltst;
  }
  
  .care-circle__item--wisdom & {
    background-color: $wisdom-ltst;
  }
  
  .care-circle__item--growth & {
    background-color: $growth-ltst;
  }
  
  .care-circle__item--tranquil & {
    background-color: $tranquil-ltst;
  }
  
  .care-circle__item--energy & {
    background-color: $energy-ltst;
  }
  
  .care-circle__item--pink & {
    background-color: #e5c1ca;
  }
}

.care-circle__item__icon {
  display: block;
  max-width: 60px;
  max-height: 35px;
  margin-bottom: .5em;
}

.care-circle__item__label {
  display: block;
  width: 100%;
}

.care-circle__text {
  @include adjust-font-size-to($sm-text, .9);
  margin-top: 2em;
  
  @include breakpoint($bp2) {
    margin-top: 6em;
  }
  
  .care-circle__banner--full & {
    @include breakpoint($bp3) {
      margin-top: 0;
      margin-left: 2em;
    }
    
    @include breakpoint($bp4) {
      margin-left: 3em;
    }
  }
}

.care-circle__text__title {
  @include adjust-font-size-to($md-heading, 1.25);
  margin-top: 0;
  margin-bottom: .25em;
}
