// Nav
.main-nav__container {
  
  @include breakpoint($bp3) {
    z-index: 1;
    position: relative;
  }
}

.main-nav {
  display: none;

  @include breakpoint($bp3) {
    display: block;
  }

  &--open {
    background-color: $white;
    display: block;
    height: 85%;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    top: 134px;
    right: 0;
    width: 100%;

    @include breakpoint($bp3) {
      height: auto;
      position: static;
    }
  }
}

// UL
.main-menu:not(.main-menu--sub) {
  @include list-reset;
  border-bottom: 1px solid $trust-ltr;
  position: relative;
  z-index: 10;

  @include breakpoint($bp3) {
    display: flex;
    border-bottom: none;
    border-top: 4px solid $growth;
    margin-top: 1.5em;
    position: relative;
    
    &:after {
      content: '';
      display: block;
      height: 1px;
      border-top: 4px solid $growth;
      position: absolute;
      top: -4px;
      left: 100%;
      right: -2em;
    }
  }
  
  @include breakpoint($bp5) {
    &:after {
      right: calc( ((100vw - 1600px) / -2 ) - 38px);
    }
  }
}

//
// Sub Navigation
//

// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: rgba($trust-ltst, .35);
  width: 100%;

  @include breakpoint($bp3) {
    background-color: $white;
    display: none;
    visibility: hidden;
    height: auto;
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    overflow: visible;
    padding: 1em 0;
    margin-top: 0;
    z-index: 1;
    background-color: $white;
    box-shadow: 0px 2px 6px rgba($black, .25);
    column-count: 2;
  }

  &:hover {
    @include breakpoint($bp3) {
      opacity: 1;
      transition: all 0.2s;

      .main-menu__link--sub {

        &.active,
        &:active,
        &:hover {

        }
      }
    }
  }

  // See main-menu.js
  &-open {
    height: auto;
    
    @include breakpoint($bp3) {
      visibility: visible;
      display: block;
    }
  }
}

.main-menu--sub-2 {
  @include breakpoint($bp3) {
    display: none; // Never shown on large screens
  }
}
