// Menu Breakpoint
$main-menu-medium: 43em;

// Nav
.main-nav {
  display: none;

  @include breakpoint($main-menu-medium) {
    display: block;
  }

  &--open {
    background-color: $white;
    display: block;
    height: 85%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 134px;
    right: 0;
    width: 100%;

    @include breakpoint($main-menu-medium) {
      height: auto;
      position: relative;
      position: static;
    }
  }
}

// UL
.main-menu {
  @include list-reset;

  border-bottom: 1px solid $trust-ltr;
  position: relative;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    display: flex;
    border-bottom: none;
  }
}

//
// Sub Navigation
//

// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: rgba($trust-ltst, .35);
  width: 100%;

  @include breakpoint($main-menu-medium) {
    background-color: $white;
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 55px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    opacity: 0.6;
  }

  &:hover {
    @include breakpoint($main-menu-medium) {
      opacity: 1;
      transition: all 0.2s;

      .main-menu__link--sub {

        &.active,
        &:active,
        &:hover {

        }
      }
    }
  }

  // See main-menu.js
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include breakpoint($main-menu-medium) {
    display: none; // Never shown on large screens
  }
}
