// LI
.main-menu__item {
  border-top: 1px solid $trust-ltr;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  /* set default color of links */
  > a {

    &:link,
    &:visited {
      color: $primary-dark;
      text-decoration: none;
    }

    &:active,
    &:hover,
    &:focus {
      background-color: $primary-dark;
      color: $white;
      text-decoration: none;
    }
  }

  > .expand-sub {

    &,
    &:link,
    &:visited {
      color: transparent;

      &::after {
        border: 8px solid $primary-dark;
        border-bottom-color: transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    &--open {
      &::after {
        border-top-color: transparent;
        border-bottom: 8px solid $primary-dark;
      }
    }

    &:active,
    &:hover,
    &:focus {
      background-color: $primary-dark;

      &::after {
        border: 8px solid $white;
        border-bottom-color: transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
      }
    }

    &--open:active,
    &--open:hover,
    &--open:focus {
      &::after {
        border-top-color: transparent;
        border-bottom: 8px solid $white;
      }
    }
  }

  /* set secondary variant */
  &--secondary {
    > a {

      &:link,
      &:visited {
        color: $trust-aa;
        text-decoration: none;
      }

      &:active,
      &:hover,
      &:focus {
        background-color: $trust-aa;
        color: $white;
        text-decoration: none;
      }
    }

    > .expand-sub {

      &,
      &:link,
      &:visited {
        color: transparent;

        &::after {
          border: 8px solid $trust-aa;
          border-bottom-color: transparent;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
        }
      }

      &--open {
        &::after {
          border-top-color: transparent;
          border-bottom: 8px solid $trust-aa;
        }
      }

      &:active,
      &:hover,
      &:focus {
        background-color: $trust-aa;

        &::after {
          border: 8px solid $white;
          border-bottom-color: transparent;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
        }
      }

      &--open:active,
      &--open:hover,
      &--open:focus {
        &::after {
          border-top-color: transparent;
          border-bottom: 8px solid $white;
        }
      }
    }
  }

  @include breakpoint($main-menu-medium) {
    border-top: none;
    display: inline-block;

    // Only top level
    &:not(.main-menu__item--sub):hover {
      transition: all 0.2s;

      & > .main-menu--sub {
        display: block;
      }
    }
  }
}

// Expand Button
.expand-sub {
  cursor: pointer;
  display: block;
  width: 10%;
  color: transparent;
  position: relative;
  background-color: transparent;
  border: none;
  overflow: hidden;

  @include breakpoint($main-menu-medium) {
    display: none;
  }

  // Down triangle
  &::after {
    content: "";
    display: block;
    margin-right: -6px;
    margin-top: -4px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 0;
  }

  // See main-menu.js
  &--open {

    &::after {
      margin-top: -13px;
    }
  }
}

//
// Sub Navigation
//
// LI (Nested)
.main-menu__item--sub {
  @include breakpoint($main-menu-medium) {
    display: block;
  }
}
