// A
.main-menu__link {
  display: block;
  padding: rhythm(.5) 2em;
  font-weight: 600;
  line-height: 1.15;
  font-size: .9em;

  &--with-sub {
    width: 90%;
  }

  @include breakpoint($bp3) {
    border-bottom: none;
    display: inline-block;
    position: relative;
    width: auto;
    padding: rhythm(.5) 0;
    
    &-open::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      left: calc(50% - 4px);
      border: 8px solid $primary-dark;
      border-top-color: transparent;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
    
    &--secondary.main-menu__link-open::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      left: calc(50% - 4px);
      border: 8px solid $trust-aa;
      border-top-color: transparent;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }
  
  @include breakpoint(1300px) {
    font-size: 1em;
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu__link--sub {
  display: block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 300;

  &:active,
  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary-dark;
    text-decoration: underline;
  }

  @include breakpoint($bp3) {
    display: block;
    
    &,
    &:link,
    &:visited {
      border-top: 0;
    }
    
    &:active,
    &:hover,
    &:focus {
      border-top: 0;
      
      &::after {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.main-menu__link--sub-2 {
  padding-left: 3em;
}
