// A
.main-menu__link {
  display: block;
  padding: rhythm(.5) 2em;
  font-weight: 600;

  &--with-sub {
    width: 90%;
  }

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
    display: inline-block;
    position: relative;
    width: auto;
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu__link--sub {
  display: block;
  width: 100%;
  padding-left: 2.5em;
  font-weight: 300;

  &:active,
  &:hover,
  &:focus {
    background-color: transparent;
    color: $primary-dark;
    text-decoration: underline;
  }

  @include breakpoint($main-menu-medium) {
    display: block;
  }
}

.main-menu__link--sub-2 {
  padding-left: 3em;
}
