{{ attach_library('tower_health/main-menu') }}

<button href="#" id="toggle-expand" class="toggle-expand" aria-controls='main-nav__container'>
  <span class="toggle-expand__open">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_base_class: "icon",
      icon_blockname: "toggle-expand",
      icon_name: "bars",
    } %}
    <span class="toggle-expand__text">Main Menu</span>
  </span>
  <span class="toggle-expand__close">
    {% include "@atoms/04-images/icons/_icon.twig" with {
      icon_base_class: "icon",
      icon_blockname: "toggle-close",
      icon_name: "close",
    } %}
    <span class="toggle-expand__text">Close</span>
  </span>
</button>
<nav id='main-nav__container' class="main-nav__container" aria-expanded='true' aria-label="Site Menu">

  <div class="utility" id="utility">
    {% block utility_menu_items %}
      {% include "@molecules/menus/_menu.twig" with {
        menu_class: "utility-menu",
        items: utility_items,
      } %}
    {% endblock %}
  </div>

  <div id="main-nav" class="main-nav">
    {% block main_menu_items %}
      {% include "@molecules/menus/_menu.twig" with {
        menu_class: "main-menu",
        menu_name: "main-menu",
        items: header_menu_items,
      } %}
    {% endblock %}
  </div>

  <button aria-controls="main-nav__container" class="close-nav close-nav--mobile">Close Navigation Drawer</button>
</nav>
