<a class="appointment-button" href="{{ button.href }}">
  <div class="appointment-button__icon">
    <img src="{{ button.src }}" alt="{{ button.alt }}" />
  </div>
  <div class="appointment-button__text">
    Request an Appointment
  </div>
</a>
