.image-teaser {
  position: relative;
  display: flex;
  justify-content: flex-end;

  .image-teaser__image {
    max-width: 800px;
    float: right;

    @include breakpoint($bp4) {
      max-width: 100%;
    }
  }

  .image-teaser__text {
    width: 85%;
    position: absolute;
    top: 16em;
    left: -5px;
    background-color: $white;
    border: 3px solid $growth;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba($black, 0.15);

    @include breakpoint($bp2) {
      left: 1em;
      top: 24em;
    }

    @include breakpoint($bp3) {
      top: 4em;
      left: 2em;
      width: 55%;
    }

    @include breakpoint($bp4) {
      top: 6em;
    }

    .button-wrapper {
      position: relative;
      width: 100%;
      padding: 2em;

      @include breakpoint($bp4) {
        padding: 4em;
      }

      a.button {

        @include breakpoint($bp2) {
          position: absolute;
          right: 10%;
          bottom: -35px;
        }
      }
    }
  }
}

.cssanimations {

  .image-teaser__text,
  .image-teaser__image {
    opacity: 0;
  }

  // animating in
  .in-view {

    .image-teaser__text {
      animation: fadeInLeft .65s ease-in-out forwards;
      animation-delay: 1s;
      opacity: 1;
    }

    .image-teaser__image {
      animation: fadeInRight .65s ease-in-out forwards;
      animation-delay: .5s;
      opacity: 1;
    }
  }
}
