.teaser {
  border: 4px solid $trust-ltst;
  border-radius: 5px;
  padding: 2em 3em 2em 8em;
  margin: 50px 0 50px 4em;
  position: relative;
  width: 100%;

  .provider-teaser__image {
    position: absolute;
    left: -125px;
    top: -25px;
    height: 250px;
    width: 250px;
  }

  .provider-teaser__content__name {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: $primary-dark;
    font-weight: 700;
    display: block;
    background-color: $white;

    @include breakpoint($bp2) {
      font-size: 2em;
      position: absolute;
      top: -15px;
      padding: 0 0.5em;
      margin-left: -0.5em;
    }
  }

  .teaser__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include breakpoint($bp3) {
      flex-wrap: nowrap;
    }

    div {
      margin-bottom: 1em;

      @include breakpoint($bp2) {
        margin-bottom: 0;
      }
    }

    .teaser-label {
      display: block;
      color: $primary-dark;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 0.85em;

      &:last-of-type {
        margin-top: 1em;
      }
    }

    .teaser__button {
      width: 100%;

      @include breakpoint($bp3) {
        width: auto;
        padding-top: 0;
      }

      .icon-button {
        opacity: 1;
        max-width: 200px;
      }
    }
  }
}

// Animations

.cssanimations {

  // default states
  .teaser {
    opacity: 0;
  }

  // animating in
  .in-view.teaser {
    animation: fadeInUp .25s ease-in-out .35s forwards;
    opacity: 1;
  }
}
