<div id="{{modal.reference}}" class="modal__inline-window modal--insurances__inline">
  <h2 class="modal--insurances__title">Insurances Accepted</h2>
  <ul class="modal--insurances__list">
  {% for item in items %}
    <li>{{ item }}</li>
  {% endfor %}
  </ul> 
</div>
