@mixin grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2em;
}

.grid {
  @include grid;
}

.grid--sm-centered {
  max-width: 1200px;
}

%grid-container,
.grid-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 2em;
}
