<div class="container">
  {% if clientLogo != null %}
    <img src="../../assets/images/{{ clientLogo }}" title="{{ clientName }}" alt="" />
  {% else %}
    <h1>{{ clientName }}</h1>
  {% endif %}

  <h2>{{ clientName }}'s Living Styleguide</h2>

  <p>The style guide primarily acts to establish and maintain consistent design patterns across a project.</p> 
  <p>It also serves as a communication tool; communicating code and content decisions between the strategists, designers, and developers on a project, communicating content strategy and best practices to stakeholders and content creators, and communicating project progress and design to stakeholders.</p>

  <p>This styleguide is based on the <a href="http://patternlab.io/">PatternLab Atomic Design System</a>.</p>

</div>
