.teaser.location {
  .location-teaser__image {
    position: absolute;
    left: -25px;
    top: -25px;
    width: 330px;

    img {
      position: relative;
    }

    &::after {
      content: ' ';
      background-color: rgba($healing, 0.5);
      position: absolute;
      left: -20px;
      bottom: -20px;
      width: 70px;
      height: 200px;
    }
  }

  .location-teaser__content__heading {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0.5em;

    a {
      color: $primary-dark;
    }
  }

  .teaser__content {
    margin-top: 0.5em;

    .teaser-label:first-of-type {
      margin-top: 1em;
    }
  }

  .location-teaser__content__address {
    margin: 0;
  }

  .callout.location {
    font-size: 1em;
    background-color: $primary-dark;
    color: $white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.5em 1em 0.5em 6em;
    margin-left: -6em;
  }

}
