.footer {
  margin-bottom: 0;

  .footer-top {
    @include grid;
    padding: 1em;

    @include breakpoint($bp3) {
      align-items: flex-end;
      padding: 2.5em 2em;
    }

    @include breakpoint($bp4) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .footer__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      order: 2;

      @include breakpoint($bp4) {
        width: 75%;
        order: 1;
      }

      .footer__links__section {
        @include adjust-font-size-to($label, .9);
        width: 100%;
        margin: 1em 0;
        padding-top: 1em;
        border-top: 4px solid $growth;

        @include breakpoint($bp2) {
          flex: 0 1 48%;
          margin-right: 2%;
        }

        @include breakpoint($bp3) {
          flex: 1 1 23%;
          margin-right: 2%;
        }

        a {
          display: block;
          text-decoration: none;

          &:first-of-type {
            color: $primary-dark;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.1em;
            line-height: 1.1em;
            display: block;
            margin-bottom: 1em;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .footer__info {
      @include adjust-font-size-to($label, .8);
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      display: flex;
      flex-wrap: wrap;
      order: 1;
      justify-content: center;
      align-items: flex-end;

      @include breakpoint($bp2) {
        justify-content: space-between;
        flex-wrap: nowrap;
      }

      @include breakpoint($bp4) {
        width: 30%;
        display: block;
        order: 2;
      }

      @include breakpoint($bp5) {
        width: 20%;
      }

      figure {
        margin-bottom: 2em;

        @include breakpoint($bp2) {
          order: 2;
          margin-bottom: 0;
        }

        @include breakpoint($bp4) {
          order: 1;
          margin-bottom: 2em;
        }

        img {
          margin: 0 auto;
          max-width: 200px;

          @include breakpoint($bp3) {
            margin-left: 0;
            margin-right: 2em;
          }

          @include breakpoint($bp4) {
            margin: 0 auto;
            max-width: 200px;
          }
        }
      }

      > div {
        width: 100%;

        @include breakpoint($bp2) {
          width: auto;
        }

        @include breakpoint($bp4) {
          order: 2;
        }
      }

      .footer__info__contact {

        @include breakpoint($bp2) {
          text-align: left;
        }

        @include breakpoint($bp4) {
          text-align: center;
          order: 2;
        }

        a,
        span {
          display: block;
        }
        
        a:link,
        a:visited {
          text-decoration: none;
        }
        
        a:active,
        a:hover,
        a:focus {
          text-decoration: underline;
        }
      }

      .footer__info__social {
        @include breakpoint($bp2) {
          text-align: left;
          max-width: 100%;
          overflow: hidden;
        }

        @include breakpoint($bp4) {
          text-align: center;
        }

        a {
          display: inline-block;
          margin: 0.2em;

          svg {
            width: 30px;
            height: 30px;
          }

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .footer-bottom-background {
    background-color: $primary-dark;
  }

  .footer-bottom {
    @include grid;
    text-align: center;
    color: $trust-ltst;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    @include breakpoint($bp3) {
      flex-wrap: nowrap;
    }

    .footer__details {
      @include adjust-font-size-to($crumb, .75);
      width: 100%;

      @include breakpoint($bp3) {
        text-align: left;
        margin-bottom: 0;
      }

      a {
        display: block;
        margin-bottom: 0.5em;
        border: none;
        color: $trust-ltst;
        text-decoration: none;

        &:active,
        &:hover,
        &:focus {
          text-decoration: underline;
        }

        @include breakpoint($bp2) {
          display: inline-block;
          padding: 0 0.75em;
          border-right: 1px solid rgba($trust-ltr, .5);

          &:last-of-type {
            border-right: none;
          }

          &:first-of-type {
            padding-left: 0;
          }
        }

        @include breakpoint($bp3) {
          margin-bottom: 0;
        }
      }

      p {
        margin-bottom: 0;
      }
    }


    .footer__legal {
      @include adjust-font-size-to($crumb, .75);
      width: 100%;

      @include breakpoint($bp3) {
        text-align: right;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
