.teaser-list {
  @include grid;
  
  .listing-results + .banner-message {
    margin-top: -1em;
  }
  
  .banner-message {
    margin-bottom: 0;
  }
}

.listing-results {
  @include adjust-font-size-to($label, .9);
  margin: 2em 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
