<div class="teaser-list">
  <div class='listing-results'>
    Showing {{ results_shown}} of {{ results_count }} results{% if results_term %} for "<strong>{{ results_term }}</strong>"{% endif %}.
  </div>
  
  {% if emergency_banner %}
  {% include "@molecules/banner-message/banner-message.twig" with {
    banner_text: emergency_banner
  } %}
  {% endif %}
  
  {% for teaser in teasers %}
    {% if teaser.type == "provider" %}
      {% include "@organisms/teasers/provider-teaser/provider-teaser.twig" with {
          "provider": teaser
        } %}
    {% elseif teaser.type == "location" %}
      {% include "@organisms/teasers/location-teaser/location-teaser.twig" with {
          "location": teaser
        } %}
    {% endif %}
  {% endfor %}
</div>
