<div class="teaser-list">
  {% if emergency_banner %}
  {% include "@molecules/banner-message/banner-message.twig" with {
    banner_text: emergency_banner
  } %}
  {% endif %}
  <div class='listing-results'>
    {% block results %}
      Showing {{ results_shown}} of {{ results_count }} results{% if results_term %} for "<strong>{{ results_term }}</strong>"{% endif %}
    {% endblock %}
  </div>
  {% block teasers %}
    {% for teaser in teasers %}
      {% if teaser.type == "provider" %}
        {% include "@organisms/teasers/provider-teaser/provider-teaser.twig" with {
            "provider": teaser
          } %}
      {% elseif teaser.type == "location" %}
        {% include "@organisms/teasers/location-teaser/location-teaser.twig" with {
            "location": teaser
          } %}
      {% elseif teaser.type == "article" %}
        {% include "@organisms/teasers/article-teaser/article-teaser.twig" with {
            "article": teaser,
          } %}
      {% elseif teaser.type == "service" %}
        {% include "@organisms/teasers/service-teaser/service-teaser.twig" with {
            "service": teaser,
          } %}
      {% elseif teaser.type == "video" %}
        {% include "@organisms/teasers/video-teaser/video-teaser.twig" with {
            "video": teaser,
          } %}
      {% else %}
        {% include "@organisms/teasers/basic-teaser/basic-teaser.twig" with {
            "basic": teaser,
          } %}
      {% endif %}
    {% endfor %}
  {% endblock %}
</div>
