// CSS-only select styling (from https://github.com/filamentgroup/select-css)

.form-item__dropdown {
  display: block;
  position: relative;

  &::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid $gray-dark;
    content: " ";
    position: absolute;
    top: 42%;
    right: 1em;
    z-index: 2;

    /* These hacks make the select behind the arrow clickable in some browsers */
    pointer-events: none;
    display: none;
  }
}

.form-item__select {
  @extend %input;
  outline: none;
  width: 100%;

  :focus {
    outline: none;
    color: #222;
  }
}

// ie11 specific styling
.form-item__select::-ms-expand {
  outline: none;
  appearance: none;
  background: none;
  border: none;
}

@supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
  /* Show custom arrow */
  .form-item__dropdown::after {
    display: block;
  }

  /* Remove select styling */
  .form-item__select {
    padding-right: 2em; /* Match-01 */

    /* inside @supports so that iOS <= 8 display the native arrow */
    background: none; /* Match-04 */

    /* inside @supports so that Android <= 4.3 display the native arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: $gray;
      border-radius: 0;
    }
  }
}
