{{ attach_library('tower_health/site-header') }}

<header class="header">
  <div class="header__container">
    {% block logo %}
      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: "../../images/TowerHealth_H.svg",
        img_alt: "Tower Health",
        img_url: header_logo_link_url|default('/'),
        image_figure_base_class: 'header-logo'
      } %}
    {% endblock %}

    <div class="header__right">
      <div class="header__search">
        <button id="search-toggle" class="search-toggle" aria-controls="search-drawer">
          <span class="toggle-expand__open">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_base_class: "icon",
              icon_blockname: "search-toggle",
              icon_name: "search",
            } %}
            <span class="toggle-expand__text">Toggle Search Drawer</span>
          </span>
          <span class="toggle-expand__close">
            {% include "@atoms/04-images/icons/_icon.twig" with {
              icon_base_class: "icon",
              icon_blockname: "toggle-close",
              icon_name: "close",
            } %}
            <span class="toggle-expand__text">Close</span>
          </span>
        </button>
        <div class="header__search-drawer" id="search-drawer" aria-expanded='false'>
          <form action="/search" method="get" accept-charset="UTF-8" class='header__search-form' id="header__search-form">
            <div class="header__search-form__container">
              <label for="header__search-input">Search our Site</label>
              <input data-drupal-selector="edit-site_search" type="search" name="site_search" value="" class="header__search-input" id="header__search-input" placeholder="Search TowerHealth">
            </div>
            <input class="header__search-submit" type="submit" value="Search">
          </form>
          <button aria-controls="search-drawer" class="close-nav close-search">Close Search Drawer</button>
        </div>
      </div>
      {% block menu %}
        {% include "@molecules/menus/main-menu/main-menu.twig" %}
      {% endblock %}
    </div>
  </div>
</header>
