.filter {
  @include grid;
  margin-bottom: .5em;
}

.filter__toggle {
  background-color: rgba($trust-ltst, .6);
  color: $primary-dark;
  border-radius: $rd-brd-lg;
  text-align: center;
  display: block;
  border: 0;
  appearance: none;
  width: 100%;
  padding: .5em 1em;
  text-transform: uppercase;

  &:active,
  &:hover,
  &:focus {
    background-color: $trust-aa;
    color: $white;
  }

  .filter__toggle--close {
    display: none;
    visibility: hidden;
  }

  .is-active & {
    border-radius: $rd-brd-lg $rd-brd-lg 0 0;

    .filter__toggle--close {
      display: inline;
      visibility: visible;
    }

    .filter__toggle--open {
      display: none;
      visibility: hidden;
    }
  }

  @include breakpoint($bp3) {
    display: none;
    visibility: hidden;
  }
}

.filter-grid-wrapper {
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba($trust-ltst, .6);
  padding: 1em 2em;
  border-radius: 0 0 $rd-brd-lg $rd-brd-lg;
  width: 100%;

  display: none;
  visibility: hidden;

  .is-active & {
    display: flex;
    visibility: visible;
  }

  @include breakpoint($bp3) {
    display: flex;
    visibility: visible;
    flex-wrap: nowrap;
    border-radius: $rd-brd-lg 0 0 $rd-brd-lg;
  }

  &::after {

    @include breakpoint($bp3) {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2em;
      right: -2em;
      background-color: rgba($trust-ltst, .6);
    }

    @include breakpoint($bp6) {
      width: calc(1.5em + (100vw - 1500px) / 2);
      right: calc(-1.5em - (100vw - 1500px) / 2);
    }
  }
}

.filter__labels {
  @include adjust-font-size-to($label, .9);
  width: 100%;
  margin-bottom: 1em;

  @include breakpoint($bp2) {
    width: auto;
    flex: 1 0 auto;
    margin-right: 1.5em;
    margin-top: 8px;
  }

  span {
    @extend %track-out;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.filter__items {
  width: 100%;

  @include breakpoint($bp3) {
    flex: 0 1 90%;
  }

  .form-item__select,
  input[type="text"],
  .chosen-container-single .chosen-single,
  .chosen-container-multi .chosen-choices {
    height: 50px;
  }

  .facets-widget-chosen-dropdown {
    visibility: hidden;
    
    &.js-complete {
      visibility: visible;
    }
  }

  .chosen-container-single .chosen-single {
    padding: .65em 1.35em 0 1em;
  }

  .chosen-container-multi .chosen-choices {
    // padding: .65em 1.35em 0 1em;
    padding: 0;
  }

  .chosen-search-input {
    width: calc(100% - 2.7em) !important;
  }

  .chosen-container .search-choice,
  .chosen-container .chosen-results .active-result,
  .facet-item__value {
    text-transform: capitalize;
  }

  .form-item__dropdown::after {
    top: 1.15em;
  }

  .form-item__dropdown {
    margin-bottom: .25em;
  }

  .chosen-container-multi .chosen-drop {
    top: 50px;
  }

  .form-section {
    margin: 0;
    justify-content: flex-start;
  }

  .form-section__item {
    margin-bottom: 1.5em;

    @include breakpoint($bp3) {
      margin-right: 1%;
    }

    &--group {
      .form-section__item {
        margin-right: 0;

        @include breakpoint($bp4) {
          margin-right: 1%;
        }
      }
    }
  }

  .form-item--checkbox__item {
    display: inline-block;
    position: relative;
  }

  .form-item--radios,
  .form-item--checkboxes {
    @include adjust-font-size-to($sm-text, .9);
  }

  @include breakpoint($bp3) {
    .form-item--inline,
    .form-item--radio__item {
      display: inline-block;
    }

    .form-item--inline {
      margin-left: .5em;
    }
  }
}

.js-form-type-checkbox {
  position: relative;
}
