.filter {
  @include grid;
  margin-bottom: 2em;
}

.filter-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $trust-ltst;
  padding: 1em 2em;
  border-radius: 8px 0 0 8px;

  @include breakpoint($bp3) {
    flex-wrap: nowrap;
  }
}

.filter__labels {
  @include adjust-font-size-to($label, .9);
  width: 100%;
  margin-bottom: 1em;

  @include breakpoint($bp2) {
    width: auto;
    flex: 1 0 auto;
    margin-right: 1.5em;
    margin-top: 8px;
  }

  span {
    @extend %track-out;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.filter__items {
  
  @include breakpoint($bp2) {
    flex: 0 1 auto;
  }
  
  .form-item__select,
  input[type="text"] {
    height: 50px;
  }
  
  .form-section {
    margin: 0;
  }
  
  .form-section__item {
    margin-bottom: .5em;
  }
  
  @include breakpoint($bp3) {
    .form-item--inline,
    .form-item--radio__item {
      display: inline-block;
    }
    
    .form-item--inline {
      margin-left: .5em;
    }
  }
}
