<div class="filter">
  <div class="filter-grid-wrapper">
    <div class="filter__labels">
      <span>Filter</span>
      <a href="/">Clear Filters</a>
    </div>
    <div class="filter__items">
      {% for item in form_sections %}
        {% include "@organisms/form-section/form-section.twig" with {
          section_heading_level: null,
          section_heading: null,
          section_items: item.section_items
        } %}
      {% endfor %}
    </div>
  </div>
</div>
