// Primary Palette
$primary-dark: #003056;
$primary-light: #4da0d2;
$healing: #008a77;
$healing-med: #279a8b;
$healing-lt: #6cada3;
$healing-ltr: #9bc3bd;
$healing-ltst: #cbdfda;

$uplifting: #e0c100;
$uplifting-med: #e6cc49;
$uplifting-lt: #ecd879;
$uplifting-ltr: #f2e5a3;
$uplifting-ltst: #f8f1ce;

$trust-aa: #4271b8;
$trust: #4d7bbe;
$trust-med: #6f8fc9;
$trust-lt: #8ea5d5;
$trust-ltr: #b1bfe2;
$trust-ltst: #d5dcf0;

$wisdom: #8264ab;
$wisdom-med: #967cb8;
$wisdom-lt: #ab96c8;
$wisdom-ltr: #c2b6d9;
$wisdom-ltst: #ded7eb;

$growth-drk: #51692b;
$growth-aa: #627f34;
$growth-lg: #7b9f41;
$growth: #8db750;
$growth-med: #a3c372;
$growth-lt: #b8d092;
$growth-ltr: #cedeb3;
$growth-ltst: #e4edd7;

$tranquil-aa: #247e84;
$tranquil: #3fc1cb;
$tranquil-med: #6fccd4;
$tranquil-lt: #96d7dd;
$tranquil-ltr: #b9e3e9;
$tranquil-ltst: #dbf0f4;

$energy-aa: #be5409;
$energy: #f47820;
$energy-med: #f69147;
$energy-lt: #faab70;
$energy-ltr: #fcc59a;
$energy-ltst: #fee0c7;

$neuro: #32863d;
$ortho: #068473;
$ws: #c34b63;
$ed: #d64000;
$onc: #8262ac;
$cardio: #d22e2c;
$surg: #236e88;
$bari: #0c7ba7;

// Grayscale
$white: white;
$off-white: #f2f2f2;
$gray-lighter: #bbbdc0;
$gray-light: #939597;
$gray: #6d6e70;
$gray-dark: #404041;
$black: black;

// Project
$yellow: $uplifting;
$ratings: #ffc619;
