.service-tile-listing {
  @include grid;
}

.service-tile-listing__header {
  margin: 0 auto 1em;
  text-align: center;
  max-width: 1000px;
}

.service-tile-listing__title {
  margin-top: 0;
  margin-bottom: .25em;
}

.service-tile-listing__list {
  width: 100%;
  
  @include breakpoint($bp2) {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  
  .service-tile {
    width: 100%;
    
    @include breakpoint($bp2) {
      width: 44%;
      flex: 0 1 44%;
      margin-right: 1%;
    }
    
    @include breakpoint($bp3) {
      width: 29%;
      flex: 0 1 29%;
    }
    
    @include breakpoint($bp4) {
      width: 21%;
      flex: 0 1 21%;
    }
  }
}
