.icon-button,
.icon-button:link,
.icon-button:visited {
  @include transition(all, 0.15s, ease-in);
  @include adjust-font-size-to($text, .8);
  color: $primary-dark;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $trust-ltst;
  padding: .75em 2em;
  border-radius: 5px;
  margin: 0.35em 0;
  text-decoration: none;
  font-weight: 600;

  svg {
    display: flex;
    width: 45px;
    height: 55px;
    fill: $primary-dark;

    @include breakpoint($bp3) {
      width: 50px;
      height: 60px;
    }
  }

  .icon-button__container {
    display: block;
    margin-left: -53px;
    margin-right: .75em;

    @include breakpoint($bp2) {
      margin-left: -56px;
    }

    @include breakpoint($bp3) {
      margin-left: -62px;
    }
  }

  &.icon-button--right {
    margin: 0.35em 0;

    .icon-button__container {
      order: 2;
      margin-right: -53px;
      margin-left: .75em;

      @include breakpoint($bp2) {
        margin-right: -58px;
      }

      @include breakpoint($bp3) {
        margin-right: -64px;
      }
    }
  }
  
  &.icon-button--list {
    margin-left: 2em;
  }

  &.icon-button--small {
    @include adjust-font-size-to($sm-text, .75);
    padding: .25em 1.5em .25em .75em;
    
    svg {
      width: 30px;
      height: 40px;

      @include breakpoint($bp3) {
        width: 35px;
        height: 45px;
      }
    }
    
    .icon-button__container {
      margin-left: -23px;

      @include breakpoint($bp2) {
        margin-left: -23px;
      }

      @include breakpoint($bp3) {
        margin-left: -27px;
      }
    }
  }
}

.icon-button:active,
.icon-button:hover,
.icon-button:focus {
  transform: scale(1.025);
  box-shadow: 0 2px 5px rgba($black, 0.25);
  background-color: $trust-aa;
  color: $white;
}
