<a class="icon-button {% if variation %}icon-button--{{variation}}{% endif %}{% if animated %} js-section-animation{% endif %}" href="{{ url }}">
  <span class="icon-button__container">{% include button_icon %}</span>
  {{ text }}
</a>
