<a class="icon-button {% if variation %}icon-button--{{variation}}{% endif %}{% if animated %} js-section-animation{% endif %}" href="{{ url }}">
  {% if button_icon %}
    <span class="icon-button__container">{% include button_icon %}</span>
  {% endif %}
  {{ text }}
</a>
