<div class="provider-filter">
  <div class="provider-filter--top">
    <div class="provider-filter__labels">
      <span>Filter by:</span>
      <a href="/">Clear Filters</a>
    </div>
    <div>
      <label>Specialty</label>
      <select>
        <option value="Any">Any</option>
      </select>
    </div>
    <div>
      <label>Gender</label>
      <select>
        <option value="Any">Any</option>
      </select>
    </div>
    <div>
      <label>Languages</label>
      <select>
        <option value="Any">Any</option>
      </select>
    </div>
    <div>
      <label>Zip Code</label>
      <input type="text" />
    </div>
  </div>
  <div class="provider-filter--bottom">
    <label>Provider Type</label>
    <input type="radio" value="all">All Providers
    <input type="radio"value="physicians">Physicians Only
    <input type="radio"value="advanced">Advanced Practice Providers Only
  </div>
</div>
