<div class="teaser--simple basic js-section-animation">

  <h2 class="teaser__name--simple"><a href="{{ url }}">{{ basic.details.title }}</a></h2>

  <div class="teaser__content--simple">
    {{ basic.details.text }}
  </div>
</div>
