.location-hero {
  @extend %clearfix;
  position: relative;
  padding-top: 100px;
  width: 100%;
  max-width: 1350px;

  @include breakpoint($bp2) {
    padding: 70px 2em 0;
  }

  @include breakpoint($bp3) {
    padding: 0 2em;
    margin: 3em auto;
  }
}

.location-hero__content {
  background-color: $white;
  border-top: 4px solid $trust-ltr;
  border-right: 4px solid $trust-ltr;
  border-bottom: 4px solid $trust-ltr;
  border-radius: 0 5px 5px 0;
  width: 96%;
  padding: 6em 1em 2em 2em;
  box-shadow: 0 2px 8px rgba($black, 0.15);
  position: relative;
  z-index: 1;

  @include breakpoint($bp0) {
    width: 95%;
  }

  @include breakpoint($bp2) {
    border: 4px solid $trust-ltr;
    border-radius: 5px;
    width: 75%;
    padding: 2em;
    padding-top: 6em;
  }

  @include breakpoint($bp3) {
    width: 80%;
    padding-right: 28%;
    box-shadow: none;
    position: static;
    border-radius: 8px;
    background-color: transparent;
  }

  @include breakpoint($bp4) {
    width: 80%;
    padding: 6em 34% 2.25em 2em;
  }

  h1 {
    @extend %track-in;
    margin: 0;
    color: $primary-dark;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 600;
    word-wrap: break-word;

    @include breakpoint($bp0) {
      font-size: 1em;
    }

    @include breakpoint("425px") {
      font-size: 1.25em;
    }

    @include breakpoint($bp2) {
      font-size: 1.5em;
      line-height: 1em;
    }

    @include breakpoint("775px") {
      font-size: 1.75em;
    }

    @include breakpoint($bp3) {
      font-size: 2em;
      line-height: 1.05em;
    }

    @include breakpoint($bp4) {
      font-size: 2.5em;
    }

    @include breakpoint(1400px) {
      font-size: 3em;
    }

    @include breakpoint($bp5) {
      font-size: 3.5em;
      line-height: 1.15em;
    }
  }
}

.location-label {
  position: absolute;
  top: 1.5em;
  left: -.025em;
  padding: 0.75em;
  padding-left: 2em;
  background-color: $trust;
  color: $white;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0 10px 10px 0;
  z-index: -10;

  @include breakpoint($bp2) {
    left: -3em;
    padding-left: 5em;
  }

  @include breakpoint($bp3) {
    left: -2em;
    padding-left: 6em;
  }

  @include breakpoint("1350px") {
    left: calc(-1 * (100vw - 1350px) / 2);
    padding-left: calc(((100vw - 1350px) / 2) + 4em)
  }
}


.location-details {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint($bp2) {
    flex-wrap: nowrap;
  }

  .location-details__first {
    padding-right: 1em;

    @include breakpoint("412px") {
      width: 50%;
    }

    .icon-button {
      margin-top: 1em;
    }
  }

  .location-details__second {
    color: $trust-aa;
    font-weight: 600;

    a {
      text-decoration: none;
      display: block;
    }
  }

  p {
    margin: 0;
  }

  span {
    @extend %track-out;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 400;
    display: block;
    color: $primary-dark;
    margin: 1em 0 0.5em 0;
  }
}

.location-hero__image {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  overflow: hidden;

  .image-background {
    position: relative;
    width: 90%;
    right: -30%;
  }

  @include breakpoint($bp2) {
    width: 80%;
  }

  @include breakpoint($bp3) {
    z-index: 5;
    right: 0;
    left: 53%;
    top: -1.5em;
    width: auto;

    .image-background {
      position: relative;
      width: 150%;
      max-width: 625px;
      left: 0;
      right: auto;
    }
  }

  @include breakpoint($bp5) {
    right: calc(( 100vw - 1365px ) / 2 * -1);
  }
}

// Animations

.cssanimations {

  // default states
  .location-hero__content {
    opacity: 0;

    .icon-button {
      opacity: 0;
    }

    &::before {
      opacity: 0;
    }

    @include breakpoint($bp3) {
      h1,
      h2,
      form {
        opacity: 0;
      }
    }
  }

  .location-hero__image {
    opacity: 0;

    .image-background.top-left .image::before {
      margin: 0;
    }
  }

  // animating in
  .in-view {
    .location-hero__content {
      @include transition(all, .35s, ease-in);
      opacity: 1;

      @include breakpoint(0 899px) {
        animation: fadeInLeft .65s ease-in-out forwards;

        .icon-button {
          animation: fadeInLeftScale .65s ease-in-out forwards;
        }
      }

      &::before {
        @include transition(opacity, .85s, ease-out);
        opacity: 1;
      }

      @include breakpoint($bp3) {
        h1 {
          animation: fadeInUp .25s ease-in-out  .25s forwards;
        }

        .location-details {
          animation: fadeInUp .25s ease-in-out  .25s forwards;

          .icon-button {
            animation: fadeInLeftScale .65s ease-in-out forwards;
          }
        }

        .location-label {
          animation: fadeInLeftScale .65s ease-in-out forwards;
        }
      }
    }

    .location-hero__image {
      animation: fadeInRightScale .65s ease-in-out forwards;

      .image-background.top-left .image::before {
        transition: all .35s ease .25s;
        margin-left: -20px;
        margin-top: -10px;
      }
    }
  }
}
