<a href="{{ cta.link }}" class="cta-button">
  <div class="cta-button__text">
    {{ cta.label }}
  </div>
  {% if cta.icon %}
    <div class="cta-button__icon">
      {{ cta.icon }}
    </div>
  {% endif %}
</div>
