<div class="grid">
  <div class="cta-banner">
    <div class="cta-banner__image">
      {% include "@molecules/image-background/image-background.twig" with {
        "img.src": img.src,
        "img.src": img.alt,
        "classes": classes,
      } %}
    </div>
    <div class="cta-banner__content">
      Need Help? We're Here.
    </div>
  </div>
</div>
