@mixin button($bg:$trust-aa, $color:$white, $hoverBg: $trust-ltst, $hoverColor: $primary-dark) {
  @include transition(all, 0.15s, ease-in);
  background-color: $bg;
  border: none;
  color: $color;
  cursor: pointer;
  line-height: 1.4;
  padding: 1em 1.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;

  @include breakpoint($bp3) {
    padding: 1.25em 2em;
  }

  &:visited {
    color: $color;
  }

  &:hover,
  &:focus,
  &:active {
    transform: scale(1.025);
    color: $hoverColor;
    background-color: $hoverBg;
    border-color: $hoverColor;
  }
}

@mixin button-alt {
  @include button($growth, $primary-dark, $growth-ltr, $primary-dark);
}

@mixin button-small {
  @include adjust-font-size-to($label, .8);
  font-weight: 600;
  padding: .75em 1em;
}

.button {
  @include button;

  &--alt {
    @include button-alt;
  }

  &--small {
    @include button;
    @include button-small;
  }

  &--small-alt {
    @include button-alt;
    @include button-small;
  }
}
