<div class="sidebar-cta-list js-section-animation">
  {% for item in cta_list %}
    {% include "@atoms/icon-button/icon-button.twig" with {
      "url": item.url,
      "button_icon": item.icon,
      "text": item.text,
      "animated": "true",
      "variation": "list" 
    } %}
  {% endfor %}
</div>
