//
// Generic header styles:
// All arguments are optional. If not defined, the defaults below will be used
//

$color-heading: $gray-darker;

@mixin heading-xl($font-family: $font-heading, $font-size: 2rem, $line-height: 1.4, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-large($font-family: $font-heading, $font-size: 1.8rem, $line-height: 1.4, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-medium($font-family: $font-heading, $font-size: 1.4rem, $line-height: 1.6, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 700, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-small($font-family: $font-heading, $font-size: 1.2rem, $line-height: 1.6, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 600, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

@mixin heading-xs($font-family: $font-heading, $font-size: 1.1rem, $line-height: 2, $color: $color-heading, $color-link: inherit, $color-link-hover: inherit, $font-weight: 600, $margin: 0 0 0.5em) {
  color: #{$color};
  font-family: #{$font-family};
  font-weight: #{$font-weight};
  font-style: normal;
  font-size: #{$font-size};
  line-height: #{$line-height};
  margin: #{$margin};
  width: auto;

  &__link {
    color: $color-link;

    &:hover {
      color: $color-link-hover;
    }
  }
}

// Base heading styles
%h1,
h1 {
  // Set the font-size and line-height while keeping a proper vertical rhythm.
  @include adjust-font-size-to($h1-font-size, 1.75);
  // Set 1 unit of vertical rhythm on the top and bottom margins.
  @include leader(1.25, $h1-font-size);
  @include trailer(.75, $h1-font-size);
}

%h2,
h2 {
  @include adjust-font-size-to($h2-font-size, 1.5);
  @include leader(1.25, $h2-font-size);
  @include trailer(.75, $h2-font-size);
}

%h3,
h3 {
  @include adjust-font-size-to($h3-font-size, 1.35);
  @include leader(1, $h3-font-size);
  @include trailer(.75, $h3-font-size);
}

%h4
h4 {
  @include adjust-font-size-to($h4-font-size, 1.1);
  @include leader(1, $h4-font-size);
  @include trailer(.5, $h4-font-size);
}

%h5
h5 {
  @include adjust-font-size-to($h5-font-size, .95);
  @include leader(.75, $h5-font-size);
  @include trailer(.5, $h5-font-size);
}

%h6,
h6 {
  @include adjust-font-size-to($h6-font-size, .85);
  @include leader(.75, $h6-font-size);
  @include trailer(.25, $h6-font-size);
}
