{% embed "@templates/_default.twig" with {
  page_header: TRUE,
  top_sidebar: false,
  bottom_sidebar: false,
  full_width: false,
  centered: true
}%}
  
  {% block page_header %}
    {% include "@organisms/basic-header/basic-header.twig" with {
      breadcrumb: header.breadcrumb
    } %}
  {% endblock %}
  
  {% block page_content %}
    {% include "@molecules/banner-message/banner-message.twig" with {
      banner_text: emergency_banner
    } %}
    
    {% if doctor_reference %}
      {% include "@molecules/banner-message/banner-message.twig" with {
        banner_text: "You are currently requesting an appointment with " ~ doctor_reference,
        banner_type: 'secondary'
      } %}
    {% endif %}
    
    <form>
    {% for item in form_sections %}
      {% include "@organisms/form-section/form-section.twig" with {
        section_heading_level: item.section_heading_level,
        section_heading: item.section_heading,
        section_items: item.section_items
      } %}
      
    {% endfor %}
    </form>
    
    {% include "@molecules/rich-text/rich-text.twig" %}
    
    Form Sections
  {% endblock %}
  
{% endembed %}
