.box-links {
  position: relative;
  background: linear-gradient(to top, transparent, transparent 10%, $trust-ltst 10%, $trust-ltst 90%, transparent 90%, transparent);
  margin: 2em 0;
}

.box-links-wrapper {
  @include grid;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
