.box-links {
  position: relative;

  &::after {
    content: ' ';
    background-color: $trust-ltst;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: -2em;
    right: -2em;
    z-index: -5;

    @include breakpoint($bp3) {
      top: 15%;
      bottom: 15%;
    }

    @include breakpoint("1350px") {
      left: calc(-1 * (((100vw - 1350px) / 2) + 2em));
      right: calc(-1 * (((100vw - 1350px) / 2) + 2em));
    }
  }

  .box-links-wrapper {
    @include grid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5em 0;

    @include breakpoint($bp3) {
      padding: 5em;

    }
  }

  .box-link {
    width: 100%;
    margin: 5px;
    height: 450px;
    position: relative;

    @include breakpoint($bp3) {
      width: calc(50% - 10px);
    }

    &::after {
      content: '';
      position: absolute;
      height: 1px;
      border-top: 6px solid $growth;
      border-radius: 3px;
      left: 0;
      bottom: 4em;
      width: calc((100vw - 9em));

      @include breakpoint($bp3) {
        border-top: 6px solid $trust;
        width: calc((100vw / 2) - 18em);
      }
    }

    .box-link__background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;

      .box-link__title {
        position: absolute;
        bottom: 1em;
        left: 1em;
        color: $white;
        max-width: calc(85% - 2em);
        display: none;

        @include breakpoint($bp3) {
          display: block;
          bottom: 2.5em;
          left: 2em;
        }
      }
    }

    .box-link__hover {
      color: $white;
      padding: 2em;
      background-color: rgba($primary-dark, 0.9);
      height: 100%;

      @include breakpoint($bp3) {
        display: none;
        padding: 4em;
      }

      h3 {
        margin-top: 0;
      }

      p {
        color: $white;
      }

      .box-link__text {
        color: $growth-med;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1em;
        letter-spacing: 0.1em;
        position: absolute;
        right: 3.5em;
        bottom: 5em;
      }
    }

    @include breakpoint($bp3) {
      &:hover {
        transform: scale(1.05);

        &::after {
          border-color: $growth;
        }

        .box-link__hover {
          display: block;
        }

        .box-link__title {
          display: none;
        }
      }
    }
  }
}

.cssanimations {

  .box-link {
    opacity: 0;
  }

  // animating in
  .in-view {

    .box-link:nth-of-type(1) {
      animation: fadeInLeft .65s ease-in-out forwards;
      animation-delay: .5s;
      opacity: 1;
    }

    .box-link:nth-of-type(2) {
      animation: fadeInRight .65s ease-in-out forwards;
      animation-delay: 1s;
      opacity: 1;
    }

    .box-link:nth-of-type(3) {
      animation: fadeInLeft .65s ease-in-out forwards;
      animation-delay: 1.5s;
      opacity: 1;
    }

    .box-link:nth-of-type(4) {
      animation: fadeInRight .65s ease-in-out forwards;
      animation-delay: 2s;
      opacity: 1;
    }
  }
}
