<div class="box-links js-section-animation">
  <div class="box-links-wrapper">
    {% for box in boxes %}
      {% include "@organisms/image-box-link/image-box-link.twig" with {
        "color": box.color,
        "title": box.title,
        "text": box.text,
        "link": box.link,
        "image": box.image
      }%}
    {% endfor %}
  </div>
</div>
