{% embed "@templates/_default.twig" with {
  page_header: TRUE,
  top_sidebar: FALSE,
  bottom_sidebar: TRUE,
  full_width: false
}%}
  
  {% block page_header %}
    
    {% include "@organisms/provider-header/provider-header.twig" %}
  {% endblock %}
  
  {% block page_content %}

    {% include "@molecules/provider-details/provider-details.twig" with {
      detail: specialties
    } %}
    
    {% include "@molecules/provider-details/provider-details.twig" with {
      detail: focus
    } %}
    
    {% include "@molecules/provider-details/provider-details.twig" with {
      detail: locations
    } %}
    
    {% include "@molecules/provider-details/provider-details.twig" with {
      detail: certification
    } %}
    
    {% include "@molecules/provider-details/provider-details.twig" with {
      detail: education
    } %}
    
    {% include "@organisms/review-listing/review-listing.twig" with {
      count: review_amt
    } %}
    
  {% endblock %}
  
  {% block bottom_page_sidebar %}
    <div class="sidebar--growth">
      {% include "@molecules/provider-details/provider-details.twig" with {
        detail: language,
        'detail.sidebar': 'true'
      } %}
      
      {% include "@molecules/provider-details/provider-details.twig" with {
        detail: contact,
        'detail.sidebar': 'true'
      } %}
      
      {% include "@molecules/provider-details/provider-details.twig" with {
        detail: insurance,
        'detail.sidebar': 'true'
      } %}
      
      {% include "@molecules/provider-details/provider-details.twig" with {
        detail: employed,
        'detail.sidebar': 'true'
      } %}
      
      {% include "@molecules/provider-details/provider-details.twig" with {
        detail: affiliation,
        'detail.sidebar': 'true'
      } %}
    </div>
  {% endblock %}
{% endembed %}
