<div class="recognition-card js-section-animation">
{% if image %}
  <div class="recognition__image-wrapper">
    <img class="recognition__image" src="{{image.src}}" alt="{{image.alt}}" />
  </div>
{% else %} 
  <h2 class="recognition__title">{{ title }}</h2>
  <div class="recognition__desc">
    {{ desc }}
  </div>
{% endif %}
</div>
