<div class="recognition-card js-section-animation">
{% if image %}
  <div class="recognition__image-wrapper">
    {% block image %}
      <img src="{{image.src}}" alt="{{image.alt}}" />
    {% endblock %}
  </div>
{% endif %}
{% if title %} 
  <h2 class="recognition__title">{{ title }}</h2>
{% endif %}
{% if desc %} 
  <div class="recognition__desc">
    {{ desc }}
  </div>
{% endif %}
</div>
