{% embed "@templates/_default.twig" with {
  page_header: TRUE,
  top_sidebar: true,
  bottom_sidebar: TRUE,
  full_content: true,
  full_width: false
}%}
  
  {% block page_header %}
    {% include "@organisms/basic-header/basic-header.twig" %}
  {% endblock %}
  
  {% block top_sidebar %}
    Find a Provider
    
    Find a Location
    
    {% if section_nav_items %}
      {% include "@molecules/menus/section-menu/section-menu.twig" with {
        items: section_nav_items
      } %}
    {% endif %}
  {% endblock %}
  
  {% block page_content %}
    {% include "@molecules/rich-text/rich-text.twig" %}
    {% include "@molecules/link-list/link-list.twig" with {
      type: link_list.type,
      title: link_list.title,
      items: link_list.items,
    } %}
    
    
  {% endblock %}
  
  {% block bottom_page_sidebar %}
    <div class="sidebar--growth js-section-animation">
      Related Services
    </div>
  {% endblock %}
  
  {% block full_content %}
    Components go here.
  {% endblock %}
  
{% endembed %}
