{% embed "@templates/_default.twig" with {
  page_header: TRUE,
  top_sidebar: TRUE,
  bottom_sidebar: TRUE,
  full_content: true,
  full_width: false,
  page_content: TRUE
}%}
  
  {% block page_header %}
    {% include "@organisms/basic-header/basic-header.twig" %}
  {% endblock %}
  
  {% block top_page_sidebar %}
    {% include "@molecules/sidebar-cta-list/sidebar-cta-list.twig" with {
      cta_list: cta_list
    }%}
        
    {% if section_items %}
      {% include "@molecules/menus/section-menu/section-menu.twig" with {
        items: section_items,
      } %}
    {% endif %}
  {% endblock %}
  
  {% block page_content %}
    {% include "@molecules/rich-text/rich-text.twig" %}
  {% endblock %}
  
  {% block bottom_page_sidebar %}
    <div class="sidebar--growth js-section-animation">
      {% include "@molecules/sidebar-list/sidebar-list.twig" %}
    </div>
  {% endblock %}
  
  {% block full_content %}
    {% include "@organisms/card-group/card-group.twig" %}
    
    {% include "@organisms/image-teaser-banner/image-teaser-banner.twig" with {
      orientation: image_callout.orientation,
      img: image_callout.img,
      title: image_callout.title,
      text: image_callout.text,
      links: image_callout.links,
    } %}
    
    {% include "@organisms/anchored-cta-block/anchored-cta-block.twig" with {
      "title": cta.title,
      "text": cta.text,
      "link": cta.link
    } %}
    
  {% endblock %}
  
{% endembed %}
