.hours-block {
  margin-top: 6em;
}

.hours-block__label {
  @include adjust-font-size-to($label, .9);
  @extend %track-out;
  text-transform: uppercase;
  display: block;
  color: $primary-dark;
  margin: 0 0 1em 0;
}

.hours-block__days {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hours-block__day {
  margin-bottom: 0.5em;

  span {
    font-weight: 700;
  }
}

.hours-block__text {
  @include adjust-font-size-to($label, .9);
  margin: 0.5em 0;
}
