<div class="hours-block">
  <span class="hours-block__label">{{ label }}</span>
  {% for hour in hours %}
    <div class="hours-block__day">
      {{ hour.title }}: {{ hour.hours }}
    </div>
  {% endfor %}
  <span class="hours-block__text">{{ text }}</span>
</div>
