<div class="hours-block">
  <h2 class="hours-block__label">{{ label }}</h2>
  <ul class="hours-block__days">
    {% for hour in hours %}
      <li class="hours-block__day"><span>{{ hour.title }}:</span> {{ hour.hours }}</li>
    {% endfor %}
  </ul>
  {% if text %}
  <span class="hours-block__text">{{ text }}</span>
  {% endif %}
</div>
