<div class="hours-block">
  {% for hour in hours %}
    <div>
      <span class="hours-block__title">{{ hour.title }}</span>
      <p class="hours-block__hours">{{ hour.hours }}</span>
      </div>
  {% endfor %}
</div>
