<div class="omw-callout">
  <div>
    <div class="omw-callout__title">{{ title }}</div>
    <div class="omw-callout__text">{{ text }}</div>
  </div>
  <div>
    <a class="button button-primary" href="{{ button.url }}">{{ button.text }}</a>
  </div>
</div>
