<div class="omw-callout">
  <div class="omw-callout__text">
    <h2 class="omw-callout__title">{{ title }}</h2>
    <p>{{ text }}</p>
  </div>
  <div class="omw-callout__button">
    <a class="button button--alt" href="{{ button.url }}">{{ button.text }}</a>
  </div>
</div>
