.service-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  border-radius: $rd-brd-lg;
  box-shadow: $shadow;
  margin: .5em 0;
  text-align: center;
  padding: 1.5rem 1rem;
  width: 100%;
  
  &:link,
  &:visited {
    text-decoration: none;
  }
  
  &:active,
  &:hover,
  &:focus {
    background-color: $trust-aa;
    color: $white;
    transform: scale(1.025);
  }
  
  @include breakpoint($bp2) {
    min-height: 110px;
  }
}

.service-tile__title {
  @include adjust-font-size-to($sm-heading, 1.1);
  margin: 0;
}
