<form class="listing-search">
  <div class="listing-search__input">
    <label>{{ label }}</label>
    <input type="text" placeholder="{{ placeholder }}" />
  </div>
  <a href="/" class="button button-primary">{{ button }}</a>
</form>
