<div class="listing-search">
  <div>
    <label>{{ label }}</label>
    <input type="text" placeholder="{{ placeholder }}" />
  </div>
  <a href="/" class="button button-primary">{{ button }}</a>
</div>
