<form class="listing-search">
  <div class="listing-search__input">
    <label>{{ label }}</label>
    <input type="text" placeholder="{{ placeholder }}" />
  </div>
  <input type="submit" value="{{ button }}" class="button button-primary"/>
</form>
