.alert {
  margin: .5em 0 0;
  padding: 1em 0;
  border-top: 4px solid $trust-aa;
  box-shadow: $shadow;
  
  &.alert--high {
    background-color: rgba($ed, .3);
    border-color: $ed;
  }
  
  &.alert--medium {
    background-color: $uplifting-ltst;
    border-color: $uplifting-lt;
  }
  
  &.alert--low {
    background-color: $off-white;
  }
  
  .grid {
    position: relative;
  }
  
  &.is-closed {
    display: none;
    visibility: hidden;
  }
}

.alert__content {
  @include adjust-font-size-to($sm-text, .9);
  width: 100%;
}

.alert--close {
  @include trans();
  position: absolute;
  top: 0;
  right: 1em;
  background-color: transparent;
  border: none;
  outline: none;
  
  svg {
    height: 1em;
    width: 1em;
    fill: $trust-aa;
    
    .alert--high & {
      fill: $black;
    }
  }
  
  &:active,
  &:hover,
  &:focus {
    @include trans();
    transform: scale(1.1);
    
    svg{
      fill: $primary-dark;
      
      .alert--high & {
        fill: $ed;
      }
    }
  }
}

.alert__close-text {
  @extend %element-invisible;
}
