.file-download {
  border: 6px solid $trust-ltst;
  border-radius: 6px;
  margin-top: 6em;
  margin-bottom: 2em;
  padding: 2em;
  
  @include breakpoint($bp2) {
    display: flex;
    margin-top: 2em;
  }
}

.file-download__image {
  display: block;
  background-color: $white;
  margin: 0 auto;
  max-width: 250px;
  margin-top: -6em;
  
  img {
    box-shadow: 0 2px 5px rgba($black, 0.25);
  }
  
  @include breakpoint($bp2) {
    margin-top: 0;
    width: 30%;
    flex: 1 0 30%;
  }
}

.file-download__content {
  margin-top: 2em;
  
  @include breakpoint($bp2) {
    width: 70%;
    flex: 1 0 70%;
    padding-left: 2em;
    align-self: center;
    margin-top: 0;
  }
}

.file-download__title {
  @include adjust-font-size-to($md-heading, 1.1);
  margin-top: 0;
  margin-bottom: .25em;
  
  a:link,
  a:visited {
    text-decoration: none;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

.file-download__desc {
  @include adjust-font-size-to($sm-text, .9);
  margin-bottom: .75em;
}

.file-download__cta {
  @include adjust-font-size-to($label, .8);
  @extend %track-out;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
